{% extends 'base.html' %}
{% block content %}
{% load groupscheck %}
{% if request.user|has_group:"paletes" %}
        <div class="container mt-5">
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            <div class="row linha-baixo">
                <h2 class="title-cad">
                    Cadastrar Cliente
                </h2>
            </div>
            <div class="container mt-4">
                <form method="post">
                {% csrf_token %}
                    <table>
                        {{ form }}
                        <tr>
                            <td>
                                <button type="submit" class="button">
                                    Criar
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}