{% extends 'base.html' %}
{% block content %}
{% load groupscheck %}
{% if request.user|has_group:"paletes" %}
        <div class="container mt-5">
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            <div class="row linha-baixo">
                <h2 class="title-cad">
                    Cadastrar Paletes
                </h2>
            </div>
            <div class="container mt-4">
                <form method="post">
                    {% csrf_token %}
                <table class="table1 col-11">
                    <tbody>
                    <tr><th>Quantidade:<input name="qnt" type="text"><h6>Máximo de 2000 por cadastro.</h6></th></tr>
                    <tr>
                        <th>
                            <label for="empresa">Empresa:</label>
                            <select id="empresa" name="empresa">
                                <option selected disabled value="">--</option>
                                <option value="1"> 1 - Bora </option>
                                <option value="2"> 2 - Transervo </option>
                                <option value="3"> 3 - Bourbon </option>
                                <option value="4"> 4 - Transfood </option>
                                
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="fil">Filial:</label>
                            <select id="fil" name="fil">
                                <option selected disabled value="">--</option>
                                <option value="1"> 1 </option>
                                <option value="2"> 2 </option>
                                <option value="3"> 3 </option>
                                <option value="4"> 4 </option>
                                <option value="5"> 5 </option>
                                <option value="6"> 6 </option>
                                <option value="7"> 7 </option>
                                <option value="8"> 8 </option>
                                <option value="9"> 9 </option>
                                <option value="10"> 10 </option>
                                <option value="11"> 11 </option>
                                <option value="12"> 12 </option>
                                <option value="13"> 13 </option>
                                <option value="14"> 14 </option>
                            </select>
                        </th>
                    </tr>
                    <tr><th>Razão social:<input id="emp" type="text" name="emp"></th></tr>
                    <tr><th>Tipo:<select name="tp_p">
                        <option value="PBR">PBR</option>
                        <option value="CHEP">CHEP</option>
                    </select></th></tr>
                    <th><button type="submit">Criar</button></th>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
<script>
    $(function(){
        var availableTags = [
            {% for q in tp_emp %}
                "{{ q|safe }}",
            {% endfor %}
        ];
        $('#emp').autocomplete({source: availableTags});
    });
</script>
{% endblock %}