{% extends 'base.html' %}
{% block content %}
{% load groupscheck %}
{% if request.user|has_group:"paletes" %}
        <div class="container mt-5">
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            <div class="row linha-baixo">
                <h2 class="title-cad">
                    Cadastrar Paletes
                </h2>
            </div>
            <div class="container mt-4">
                <form method="post">
                    {% csrf_token %}
                <table class="table1 col-11">
                    <tbody>
                    <tr><th>Quantidade:<input name="qnt" type="text"><h6>Máximo de 2000 por cadastro.</h6></th></tr>
                    <tr>
                        <th>
                            <label for="empresa">Empresa:</label>
                            <select id="empresa" name="empresa">
                                <option selected disabled value="">--</option>
                                <option value="1"> 1 - Bora </option>
                                <option value="2"> 2 - Transervo </option>
                                <option value="3"> 3 - Bourbon </option>
                                <option value="4"> 4 - Transfood </option>
                                
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="fil">Filial:</label>
                            <select id="fil" name="fil">
                                <option selected disabled value="">--</option>
                                <option value="1"> 1-SPO </option>
                                <option value="2"> 2-REC </option>
                                <option value="3"> 3-SSA </option>
                                <option value="4"> 4-FOR </option>
                                <option value="5"> 5-MCZ </option>
                                <option value="6"> 6-NAT </option>
                                <option value="7"> 7-JPA </option>
                                <option value="8"> 8-AJU </option>
                                <option value="9"> 9-VDC </option>
                                <option value="10"> 10-CTG </option>
                                <option value="11"> 11-GVR </option>
                                <option value="12"> 12-VIX </option>
                                <option value="13"> 13-TCO </option>
                                <option value="14"> 14-UDI </option>
                            </select>
                        </th>
                    </tr>
                    <!--Campo antigo que precisa digitar-->
                    <!--<tr><th>Razão social:<input id="emp" type="text" name="emp"></th></tr>-->
                    <!--FIM Campo antigo-->
                    <tr>
                        <th>
                            <label for="emp">Razão Social</label>
                            <select name="emp" id="emp">
                                <option selected hidden>--</option>
                                {% for e in tp_emp %}
                                    <option value="{{ e }}">{{ e }}</option>
                                {% endfor %}
                            </select>
                        </th>
                    </tr>
                    <tr><th>Tipo:<select name="tp_p">
                        <option value="PBR">PBR</option>
                        <option value="CHEP">CHEP</option>
                    </select></th></tr>
                    <th><button style="padding: 15px 50px" type="submit">Criar</button></th>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
<script>
    $(function(){
        var availableTags = [
            {% for q in tp_emp %}
                "{{ q|safe }}",
            {% endfor %}
        ];
        $('#emp').autocomplete({source: availableTags});
    });
</script>
{% endblock %}