{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load groupscheck %}
{% if request.user|has_group:"paletes" %}
    <div class="container mt-5">
        {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="row linha-baixo mb-4" style="margin: 0 3rem 0 1rem;">
            <div>
                <h3 class="title-cad">Transferências em andamento</h3>
            </div>
            <div>
                <label for="origem">Origem:</label>
                <select id="origem" name="origem">
                    <option selected disabled value="">--</option>
                    {% for filial in filiais %}
                      <option value="{{ filial }}">{{ filial }}</option>
                    {% endfor %}                
                  </select>
                <label for="destino">Destino:</label>
                <select id="destino" name="destino">
                    <option selected disabled value="">--</option>
                    {% for filial in filiais %}
                      <option value="{{ filial }}">{{ filial }}</option>
                    {% endfor %}                
                  </select>
                <label for="placa_veiculo">Placa:</label>
                <input name="qnt" type="text">
                <button style="padding: 15px 40px;" type="submit">Filtrar</button>
            </div>
        </div>

        <div style="width: 100%;overflow:auto;margin: 0 3rem 0 1rem;">
            <table class="table tablecli">
                <thead>
                    <tr>
                        <th>Qtde. de pallets</th>
                        <th>Data solicitação</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Placa do veiculo</th>
                        <th>Autor</th>
                        <th>Código de barras</th>
                    </tr>
                </thead>
                <tbody>
                        {% for q in form %}
                            <tr>
                                <td> {{ q.quantity }} </td>
                                <td> {{ q.data_solic }} </td>
                                <td> {{ q.origem }} </td>
                                <td> {{ q.destino }} </td>
                                <td> {{ q.placa_veic }} </td>
                                <td> {{ q.autor__username }} </td>
                                <td><a href="{% url 'portaria:transfdetalhe' solic_id=q.solic_id %}" target="_blank">Informações</a></td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <style>
        .svg-buttons {
            filter: invert(88%) sepia(94%) saturate(2912%) hue-rotate(126deg) brightness(89%) contrast(89%);
            cursor: pointer;
        }
        th {
            width: 20vw;
        }
    </style>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}

{% endblock %}