{% extends 'base.html' %}
{% block content %}
{% load groupscheck %}
{% if request.user|has_group:"paletes" %}
        <div class="container mt-5">
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            <div class="row linha-baixo">
                <h2 class="title-cad">
                    Cadastrar Saida Paletes Cliente
                </h2>
            </div>
            <div class="container mt-4">
                <form method="post">
                    {% csrf_token %}
                <table class="table1 col-11">
                    <tbody>
                    <tr><th>Quantidade:<input name="qnt" type="text"></th></tr>
                    <tr><th>Filial:<select name="fil">
                        <option selected disabled value="">--</option>
                        {% for filial in filiais %}
                            <option value="{{ filial.id }}">{{ filial.id_garagem }} - {{ filial.sigla }}</option>
                        {% endfor %}
                    </select></th></tr>
                    <tr><th>Empresa:<input id="emp" type="text" name="emp"></tr>
                    <tr><th>Tipo:<select name="tp_p">
                        <option value="PBR">PBR</option>
                        <option value="CHEP">CHEP</option>
                    </select></th></tr>
                    <th><button type="submit">Enviar</button></th>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
<script>
    $(function(){
        var availableTags = [
            {% for q in clientes %}
                "{{ q|safe }}",
            {% endfor %}
        ];
        $('#emp').autocomplete({source: availableTags});
    });
</script>
{% endblock %}