{% extends 'base.html' %}
{% block content %}
{% load groupscheck %}
{% if request.user|has_group:"paletes" %}
    <div class="container mt-5">
        {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    <div class="row linha-baixo mb-3">
            <h3 class="title-cad">Solicitar transferencia de paletes</h3>

    </div>
    <div class="row" style="width: 30%; margin: auto;">
        <form method="post">
            {% csrf_token %}

            <div class="row">
                <div class="form-group col-6">
                    <label for="origem_">Origem</label>
                    <select class="form-control" name="origem_" id="origem_">
                        <option selected hidden placeholder=>...</option>
                        {% for k,v in gachoices %}
                            {% if k != '0' %}
                                <option value="{{k}}">{{k}} - {{v}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="destino_">Destino</label>
                    <select class="form-control" name="destino_" id="destino_">
                        <option hidden selected>...</option>
                        {% for k,v in gachoices %}
                        {% if k != '0' %}
                            <option required value="{{k}}">{{k}} - {{v}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-8">
                    <label for="quantidade_">Quantidade</label>
                    <input type="number" class="form-control" id="quantidade_" name="quantidade_" placeholder="Quantidade">
                </div>
                <div class="form-group col-4">
                    <label for="tipo_">Tipo</label>
                    <select class="form-control" name="tp_palete" id="tp_palete">
                        <option value="CHEP">CHEP</option>
                        <option value="PBR">PBR</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="placa_veic">Placa do veiculo</label>
                    <input type="text" class="form-control" id="placa_veic" name="placa_veic" placeholder="AAA1111...">
                </div>
            </div>
            <div class="row">
                <button style="margin-left: auto; width: auto;"><ion-icon name="swap-horizontal-outline"></ion-icon></button>
            </div>
        </form>
    </div>
</div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}

{% endblock %}