{% extends 'base.html' %}
{% block content %}
{% load groupscheck %}
{% if request.user|has_group:"servicopj" %}
<div class="container mt-4">
    {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        <div class="row linha-baixo">
            <h2 class="title-cad">Cadastrar novo PJ</h2>
        </div>
        <div class="container">
            <form method="post">
                {% csrf_token %}
            <table>{{ form }}</table>
            <button type="submit" style="height:3.4rem;"><ion-icon style="font-size:2.4rem;" name="save-outline"></ion-icon></button>
            </form>
        </div>
</div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}