{% extends 'base.html' %}
{% block content %}
{% load groupscheck %}
{% if request.user|has_group:"adm_rh" %}

    <div class="container mt-5">
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
            </div>
        </div>
    {% endfor %}
        <div class="row">
            {% comment %} <div class="col col-lg-9 col-md-9 col-sm-9 sr-only" id="sendmail">
            </div> {% endcomment %}
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <strong>Total de Registros: {{ array|length }}</strong>
                </div>
                <div>
                    <form style="display: flex; justify-content: flex-end;" action="{% url 'portaria:get_nfpj_csv' %}" method="post">
                        {% csrf_token %}
                        <input class="col-4" type="date" name="dataini" placeholder="Data inicio">
                        <input class="col-4" type="date" name="datafim" placeholder="Data fim">
                        <button class="button col-4">
                            Exportar CSV
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <form class="form-box" action="{% url 'portaria:get_nfpj_mail' %}" method="post">
                    {% csrf_token %}
                    <thead>
                        <tr>
                            <div>
                                <button id="chkall" type="button">Marcar todos</button>
                            </div>
                        </tr>
                        <tr>
                            <th class="title-cad">#</th>
                            <th class="title-cad">Nome</th>
                            <th class="title-cad">Salario</th>
                            <th class="title-cad">Faculdade</th>
                            <th class="title-cad">Ajuda de Custo</th>
                            <th class="title-cad">Aux Moradia</th>
                            <th class="title-cad">Cred Convenio</th>
                            <th class="title-cad">Outros Cred</th>
                            <th class="title-cad">Adiantamento</th>
                            <th class="title-cad">Desc Convenio</th>
                            <th class="title-cad">Outros Desc</th>
                            <th class="title-cad">Total a Pagar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for q in array|dictsort:"nome" %}
                        <tr>
                            <th><input type="checkbox" value="{{ q.id }}" name="funcid"></th>
                            <th>{{ q.nome|upper }}</th>
                            <th>R$ {{ q.salario|floatformat:2 }}</th>
                            <th>R$ {{ q.faculdade|floatformat:2 }}</th>
                            <th>R$ {{ q.ajuda_custo|floatformat:2 }}</th>
                            <th>R$ {{ q.aux_moradia|floatformat:2 }}</th>
                            <th>R$ {{ q.cred_convenio|floatformat:2 }}</th>
                            <th>R$ {{ q.outros_cred|floatformat:2 }}</th>
                            <th>R$ {{ q.adiantamento|floatformat:2 }}</th>
                            <th>R$ {{ q.desc_convenio|floatformat:2 }}</th>
                            <th>R$ {{ q.outros_desc|floatformat:2 }}</th>
                            <th>R$ {{ q.total|floatformat:2 }}</th>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <label for="periodo">Periodo:</label>
                            </td>
                            <td>
                                <input class="col" type="date" id="periodo" name="periodo1">
                            </td>
                            <td>
                                <input class="col" type="date" name="periodo2">
                            </td>
                            <td>
                                <label for="dt_pgmt">Data pagamento:</label>
                            </td>
                            <td>
                                <input class="col" type="date" id="dt_pgmt" name="dt_pgmt">
                            </td>
                            <td>
                                <label for="dt_envio_nf">Data Envio NF:</label>
                            </td>
                            <td>
                                <input class="col" type="date" id="dt_envio_nf" name="dt_envio_nf">
                            </td>
                            <td>
                                <input type="submit" class="button" name="adiantamento" value="adiantamento">
                            </td>
                            <td>
                                <input type="submit" class="button" name="total" value="total">
                            </td>
                            {% comment %} <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td> {% endcomment %}
                        </tr>
                    </tbody>
                </form>
            </table>
        </div>
    </div>
    {% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
<script type="text/javascript">
    function isactive(){
        if(document.getElementById("sendmail").classList.contains('sr-only')){
            document.getElementById("sendmail").classList.remove('sr-only')
        } else {
            document.getElementById("sendmail").classList.add('sr-only')
        }
    }

  $(document).ready(function(){
    $('#chkall').click(function(){
        var chkbox = $('input[name="funcid"]');
        if($(this).hasClass('allChecked')){
            chkbox.prop('checked', false);
            $(this).removeClass('allChecked');
        }else{
            chkbox.prop('checked', true);
            $(this).toggleClass('allChecked');
        }
    });
});
</script>
{% endblock %}
