{% extends 'base.html' %}
{% block content %}
{% load groupscheck %}
<div class="container mt-5">
{% if auth_message %}
    <p><strong>{{ auth_message }}</strong></p>
{% else %}
{% if request.user|has_group:"servicopj" %}
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
            </div>
        </div>
        {% endfor %}
        <div class="container">
            <div class="row">
                <h2 class="title-cad">Cadastro Contrato</h2>
            </div>
                <form method="post">
                    {% csrf_token %}
                    <table>
                        <tr><th>Funcionário:</th><th>{{ form.funcionario }}</th></tr>
                        <tr><th>Inicio Contrato:</th><th>{{ form.inicio_contrato }}</th></tr>
                        <tr><th>Final Contrato:</th><th>{{ form.final_contrato }}</th></tr>
                        <tr><th>Data Reajuste:</th><th>{{ form.data_reajuste }}</th></tr>
                        <tr><th>Valor Reajuste:</th><th>{{ form.valor_reajuste }}</th></tr>
                        <tr>
                            <th>Anexo:</th>
                            <th>
                                <label for="getanexo" style="font-size:2.4rem;cursor:pointer;"><ion-icon name="attach-outline"></ion-icon></label>
                                <input type="file" name="getanexo" id="getanexo">
                            </th>
                        </tr>
                        <tr><th>Observação:</th><th>{{ form.observacao }}</th></tr>
                    </table>
                    <button type="submit" style="height:3.4rem;"><ion-icon style="font-size:2.4rem;" name="save-outline"></ion-icon></button>
                </form>
        </div>
</div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endif %}
{% endblock %}