asgiref==3.4.1
backports.entry-points-selectable==1.1.0
bleach==4.1.0
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
cx-Oracle==8.3.0
distlib==0.3.3
dj-database-url==0.5.0
Django==3.2.6
django-bootstrap-datepicker-plus==3.0.5
django-model-utils==4.2.0
django-notifications-hq==1.6.0
django-qr-code==2.2.0
django-qrcode==0.3
django-summernote==0.8.20.0
et-xmlfile==1.1.0
filelock==3.0.12
gunicorn==20.1.0
idna==3.3
jsonfield==3.1.0
mysqlclient==1.4.0
numpy==1.21.4
openpyxl==3.0.9
packaging==21.3
Pillow==8.3.2
platformdirs==2.3.0
pyodbc==4.0.32
pyparsing==3.0.6
pypng==0.0.21
PyQRCode==1.2.1
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.1
qrcode==7.3.1
requests==2.27.1
segno==1.3.3
six==1.16.0
sqlparse==0.4.1
swapper==1.3.0
urllib3==1.26.9
virtualenv==20.8.0
webencodings==0.5.1
whitenoise==5.3.0
XlsxWriter==3.0.3
 