{% extends 'base.html' %}
{% block content %}
{% load groupscheck %}
{% load static %}
<div class="container mt-5">
{% if auth_message %}
    <p><strong>{{ auth_message }}</strong></p>
{% else %}
{% if request.user|has_group:"etiquetas" %}
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
            </div>
        </div>
        {% endfor %}
        <section>
            <div class="container">
                <div class="row">
                <h2>Contagem etiquetas</h2>
                </div><hr>
                <div class="row">
                    <form method="post" id="post-form">
                        {% csrf_token %}
                        <div class="container">
                            <h2>Bipagem Paletes</h2>
                            <table>
                                <tr><td>
                                    <label for="getga">Garagem:</label>
                                    <select id="getga" name="getga" >
                                        <option hidden>Selecione...</option>
                                        {% for q,v in gachoices %}
                                        <option value="{{ q }}">{{ v }}</option>
                                        {% endfor %}
                                    </select>
                                </td></tr>
                                <tr><td>
                                    <label for="volume">Volume:</label>
                                    <input type="text" name="volume" id="volume">
                                </td></tr>
                                <tr><td>
                                    <label for="manifesto">Manifesto:</label>
                                    <input type="text" name="manifesto" id="manifesto">
                                </td></tr>
                                <tr><td>
                                    <label for="idbarcode">Código de barras:</label>
                                    <input type="text" name="idbarcode" id="idbarcode">
                                </td></tr>
                            </table>
                        </div>
                        <input type="submit" id="submiterrr" class="button">
                    </form>
                </div>
            </div>
        </section>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
</div>
{% endif %}
{% endblock %}