    {% extends 'base.html' %}
    {% block content %}
    {% load groupscheck %}
    {% load static %}
    <div class="container mt-5">
    {% if auth_message %}
        <p><strong>{{ auth_message }}</strong></p>
    {% else %}
    {% if request.user|has_group:"etiquetas" %}
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            <section>
                <div class="container">
                    <div class="row">
                    <h2><strong>Lançar etiquetas</strong></h2>
                    </div><hr>
                    <div class="row">
                        <form method="post">
                            {% csrf_token %}
                        <table id="addHTML" class="col-9">
                            <tr>
                                <td>
                                    <label for="getga" style="font-weight:bold;">Garagem:</label>
                                    <select id="getga" name="getga" >
                                        <option hidden>Selecione...</option>
                                        {% for q,v in gachoices %}
                                        <option value="{{ q }}">{{ v }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="getdoc" style="font-weight:bold;">Tipo doc:</label>
                                    <select id="getdoc" name="getdoc">
                                        <option hidden>Selecione...</option>
                                        <option value="8">NFS</option>
                                        <option value="57">CTE</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="getcte" style="font-weight:bold;">CTE:</label>
                                    <input type="text" name="getcte" id="getcte">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="getnota" style="font-weight:bold;">Nota Fiscal:</label>
                                    <input type="text" name="getnota" id="getnota">
                                </td>
                            </tr>
                                <td><a href="#" id="btnAdiciona" class="btn btn-outline-success">+Add CTE</a></td>

                        </table>
                        <br>
                    <input style="padding:6px 30px" type="submit" class="button">
                    <input type="hidden" id="setCount" name="setcount">
                    </form>
                </div>
                </div>
            </section>
    {% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
    </div>
    {% endif %}
    <script>

	var idContador = 0;

	function exclui(id){
		var campo = $("#"+id);
		campo.remove();
	}

	$( document ).ready(function() {
		$("#btnAdiciona").click(function(e){
			e.preventDefault();
			adicionaCampo();
		})

		function adicionaCampo(){

			idContador++;
			var idCampo = "campoExtra"+idContador;
			var idForm = "formExtra"+idContador;
			var idNum = idContador;

			var html = "";
			html += "<tr id='"+idNum+"'><td><label for='getcte"+idNum+"'>CTE "+idContador+"</label>"
			html += "<input style='padding:6px;' type='text' name='getcte' id='getcte"+idNum+"'>"
			html += "</td>"
			html += "<td><button style='margin-left: -550px;' class='btn btn-danger' onclick='exclui("+idNum+")' type='button'>Excluir CTE</button></td></tr>";

			$("#addHTML").append(html);
			document.getElementById('setCount').value = idContador;
		}
    });
    </script>

    {% endblock %}