    {% extends 'base.html' %}
    {% block content %}
    {% load groupscheck %}
    {% load static %}
    <div class="container mt-5">
    {% if auth_message %}
        <p><strong>{{ auth_message }}</strong></p>
    {% else %}
    {% if request.user|has_group:"etiquetas" %}
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            <section>
                <div class="container">
                    <div class="row">
                    <h2>Lançar etiquetas por palete</h2>
                    </div><hr>
                    <div class="row">
                        <form method="post">
                            {% csrf_token %}
                        <table id="addHTML" class="col-9">
                            <tr>
                                <td>
                                    <label for="getga" style="font-weight:bold;">Garagem:</label>
                                    <select id="getga" name="getga" >
                                        <option hidden>Selecione...</option>
                                        {% for q,v in gachoices %}
                                        <option value="{{ q }}">{{ v }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="getvol" style="font-weight:bold;">Volumes:</label>
                                    <input type="text" name="getvol" id="getvol">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="getcli" style="font-weight:bold;">Cliente:</label>
                                    <input type="text" name="getcli" id="getcli">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="isprint" style="font-weight:bold;">Imprimir?</label>
                                    <input type="checkbox" name="isprint" id="isprint">
                                </td>
                            </tr>
                        </table>
                    <input type="submit" class="button">
                    </form>
                </div>
                </div>
            </section>
    {% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
    </div>
    {% endif %}
    <script>
        $(function(){
            var availableTags = [
                {% for q in ac %}
                    "{{ q }}",
                {% endfor %}
            ];
            $('#getcli').autocomplete({source: availableTags});
        });
    </script>
    {% endblock %}