{% extends 'base.html' %}
{% block content %}
{% load groupscheck %}
 <div class="container mt-5">
    {% if auth_message %}
        <p><strong>{{ auth_message }}</strong></p>
    {% else %}
     {% if request.user|has_group:"portaria" %}
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        <h2 class="title-cad">Cadastro Saida veículo</h2>
        <form role="form" method="POST">
        {% csrf_token %}
        <table>
            <tbody>
            <tr>
                <th>{{ form }}</th>
            </tr>
            </tbody>
        </table>
        <button type="submit" style="height:3.8rem;"><ion-icon style="font-size:2.8rem;" name="save-outline"></ion-icon></button>
    </form>
         {% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}

 </div>
    {% endif %}
{% endblock %}