    {% extends 'base.html' %}
    {% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
    {% if auth_message %}
        <p><strong>{{ auth_message }}</strong></p>
    {% else %}

    <h2>Cadastro Entrada veículo</h2>
    <form role="form" method="POST">
        {% csrf_token %}
        <table>
            <tbody>
            <tr>
                <th>Placa</th><th>{{ form.placa }}</th>
            </tr>
            <tr>
                <th>Motorista</th><th>{{ form.motorista }}</th>
            </tr>
            <tr>
                <th>Empresa</th><th>{{ form.empresa }}</th>
            </tr>
            <tr>
                <th>Tipo Motorista</th><th>{{ form.tipo_mot }}</th>
            </tr>
            <tr>
                <th>Tipo Viagem</th><th>{{ form.tipo_viagem }}</th>
            </tr>
            <tr>
                <th>Garagem</th><th>{{ form.origem }}</th>
            </tr>


            </tbody>
        </table>
        <input class="button" type="submit">
    </form>

    {% if error_message %}
     <strong><p>{{ error_message }}</p></strong>
     {% elif success_message %}
     <strong><p>{{ success_message }}</p></strong>
     {% endif %}
            </div>
        </div>
    </div>

    {% endif %}
    {% endblock %}