    {% extends 'base.html' %}
    {% block content %}
    <div class="container mt-5">
    {% if auth_message %}
        <p><strong>{{ auth_message }}</strong></p>
    {% else %}
        {% if teste %}<p>{{ teste }}</p>{% endif %}
            <div class="row mb-3 linha-baixo">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="title-cad">Cadastro entrada veículo <button class="button button-right">
                        <a href="{% url 'portaria:cadastroentrada' %}" style="color:white;">Entrada</a>
                    </button></h3>
                </div>
            </div>

            <div class="row linha-baixo mb-3">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form role="form" class="form-box" method="POST">
                    {% csrf_token %}
                    <fieldset>
                    <h3 class="title-cad">Cadastro saída Veículo</h3>
                        <h3 class="title-cad">Nº placa:{{ form.search_placa }}
                            <input type="submit" class="button"></h3>
                    </fieldset>
                    </form>
                    {% if success_message %}<p>{{ success_message }}</p>{% endif %}
                </div>
            </div>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    </div>
    {% endif %}
    <!-- JS -->
    <script>
      $(function () {
        $("#id_date").datepicker({
            format:'dd/mm/yyyy'
        });
        $("#id_date1").datepicker({
            format:'dd/mm/yyyy'
        });
      });
    </script>
    {% endblock %}