    {% extends 'base.html' %}
    {% block content %}
    {% load groupscheck %}
    <div class="container mt-5">
    {% if auth_message %}
        <p><strong>{{ auth_message }}</strong></p>
    {% else %}
    {% if request.user|has_group:"portaria" %}
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            <div class="row mb-3 linha-baixo">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="title-cad">Cadastro entrada veículo <button class="button button-right">
                        <a href="{% url 'portaria:cadastroentrada' %}" style="color:white;">Entrada</a>
                    </button></h3>
                </div>
            </div>

            <div class="row linha-baixo mb-3">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="title-cad">Cadastro saída veículo <button class="button button-right">
                        <a href="{% url 'portaria:cadastrosaida' %}" style="color:white;">Saída</a>
                    </button></h3>
                </div>
            </div>

            <div class="row linha-baixo mb-3">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="title-cad">Exportar CSV portaria</h3>
                    <form class="form-box" action="{% url 'portaria:get_portaria_csv' %}" method="post">
                        {% csrf_token %}
                        <input type="date" placeholder="Data inicio" name="dataIni" id="id_date">
                        <input type="date" placeholder="Data final" name="dataFim" id="id_date1">
                        <input type="submit" class="button">
                    </form>
                </div>
            </div>
    </div>
    </div>
    {% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
    {% endif %}
    {% endblock %}