{% extends 'base.html' %}
{% block content %}
 <div class="container mt-5">
    {% if auth_message %}
        <p><strong>{{ auth_message }}</strong></p>
    {% else %}
        <form role="form" method="POST">
        {% csrf_token %}
        <table>
            <tbody>
            <tr>
                <th>{{ form }}</th>
            </tr>
            </tbody>
        </table>
        <input class="button" type="submit">
    </form>
     {% if error_message %}
     <strong><p>{{ error_message }}</p></strong>
     {% elif success_message %}
     <strong><p>{{ success_message }}</p></strong>
     {% endif %}
 </div>
    {% endif %}
{% endblock %}