{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <h2 class="title-cad">Cadastrar NF por serviços PJ</h2>
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <table>
                <tbody>
                <tr><th>Funcionário:</th><th>{{ func }}</th></tr>
                <tr><th>Premios/Faculdade:</th><th>{{ form.premios_faculdade }}</th></tr>
                <tr><th>Ajuda de Custo:</th><th>{{ form.ajuda_custo }}</th></tr>
                <tr><th>Adiantamento:</th><th>{{ form.adiantamento }}</th></tr>
                <tr><th>Convenio:</th><th>{{ form.convenio }}</th></tr>
                <tr><th>Data emissao:</th><th>{{ form.data_emissao }}</th></tr>
                </tbody>
            </table>
            <input type="submit" class="button">
        </form>
    </div>
</div>
{% endblock %}