{% extends 'base.html' %}
{% block content %}
{% load static %}
<input id="text" class="sr-only" value="{{ request.build_absolute_uri }}" type="text"/>



<div class="profile-main-body">
    <center>
    <img src="{% static 'images/avatar.png' %}" style="max-width:20%">
    <h2>{{ form.nome }}</h2>
    <h3>{{ form.cargo }}</h3>
    <div class="item-social"><button onclick="makeQR()" name="submit">QR-Code</button></div>
<table class="profile-icons-row">
    <th><div class="item-social" onclick="call()"><img src="{% static 'images/call-icon.png' %}" width="50"></div></th>
    <th><div class="item-social" onclick="mail()"><img src="{% static 'images/mail-icon.png' %}" width="50"></div></th>
    <th><div class="item-social false" onclick="whatsapp()"><img src="{% static 'images/whatsapp-icon.png' %}" width="50"></div></th>
</table>

<div class="qrcode-cont" style="display:none;"><img id="qrcode"></div>
        </center>
</div>

<div class="sr-only" id="urlqrcode">
</div>

<script type="text/javascript">

function download(){
    var getsrc = document.getElementById('urlqrcode').getElementsByTagName('img')[0].currentSrc
    console.log(getsrc)
}

var urlqrcode = new QRCode("urlqrcode");
function urlQR(){
    var elText = document.getElementById("text");
    urlqrcode.makeCode(elText.value)
}
urlQR();

function makeQR(){
    $('.qrcode-cont').toggle();
    if($('#qrcode').html() == ""){
    goog_chart='https://chart.googleapis.com/chart?cht=qr&chs=200x200&chl=',

    str_vcard= 'BEGIN:VCARD\n'+
'VERSION:3.0\n'+
'N:{{ form.nome }};'+
'\nFN:{{ form.nome }}'+
'\nORG:BORA TRANSPORTES'+
'\nTITLE:{{ form.cargo }}'+
'\nTEL;TYPE=CELL:{{ form.celular }}'+
'\nEMAIL:{{ form.email }}'+
'\nURL:{{ request.build_absolute_uri }}'+
'\nEND:VCARD'
        const enc_vcard = encodeURI(str_vcard);
	    $('#qrcode').attr('src',goog_chart+enc_vcard);

	}
}
function whatsapp() {
    if(false) {
      location.href = 'whatsapp://send?phone=55{{ form.celular }}';
    } else {
      location.href = 'https://api.whatsapp.com/send?phone=55{{ form.celular }}';
    }
  }

function mail(){
    location.href = 'mailto:{{ form.email }}';
  }
function call(){
    location.href = 'tel:+55{{ form.celular }}';
}
</script>

{% endblock %}