{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load groupscheck %}
{% if request.user|has_group:"frota" %}
<div class="container mt-5">
    {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
    {% endfor %}
    <div class="container linha-baixo">
        <div class="row">
            <form method="post" action="{% url 'portaria:get_checklist_csv' %}">
                {% csrf_token %}
                <h3 class="title-cad">Exportar CSV:
                    <input type="date" class="col-2" placeholder="Data Início" name="dataini">
                    <input type="date" class="col-2" placeholder="Data Fim" name="datafim">
                    <button class="col-1" type="submit">Exportar</button>
                </h3>
            </form>
        </div>
    </div>
    <div class="container mt-3 linha-baixo">
        <div class="row">
            <h2 class="title-cad">Listagem Checklists</h2>
        </div>
        <table class="table table1">
            <tr>
                <th><strong>Nº Checklist</strong></th>
                <th><strong>Data</strong></th>
                <th><strong>Placa Veiculo</strong></th>
                <th><strong>Motorista</strong></th>
                <th><strong>Detalhes Checklist</strong></th>
            </tr>
        {% for q in form %}
            <tr>
                <th>{{ q.idchecklist }}</th>
                <th>{{ q.datachecklist }}</th>
                <th>{{ q.placaveic }}</th>
                <th>{{ q.motoristaveic }}</th>
                <th><a href="{% url 'portaria:checklistdetail' idckl=q.idchecklist %}">detalhes</a></th>
            </tr>
        {% endfor %}
        </table>
    </div>




</div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}