{% extends 'base.html' %}
{% block content %}
{% load groupscheck %}
{% if request.user|has_group:"servicopj" %}

    <div class="container mt-4">
        <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="title-cad">Enviar emails</h3>
            <form class="form-box" action="{% url 'portaria:get_nfpj_csv' %}" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Data inicio" name="dataIni">
                <input type="text" placeholder="Data final" name="dataFim">
                <input type="submit" class="button">
            </form>
        </div>
    </div>
    <div class="row">
        <table>
            <thead class="linha-baixo">
                <tr>
                    <th>Nome</th>
                    <th>Salario</th>
                    <th>Premio/Faculdade</th>
                    <th>Ajuda de Custo</th>
                    <th>Adiantamento</th>
                    <th>Convenio</th>
                    <th>Outros Desc</th>
                    <th>Total a Pagar</th>
                </tr>
            </thead>
        {% for q in arrya %}
            <tbody>
                <tr>
                    <th>{{ q.nome }}</th>
                    <th>{{ q.salario }}</th>
                    <th>{{ q.premios }}</th>
                    <th>{{ q.ajuda_custo }}</th>
                    <th>{{ q.adiantamento }}</th>
                    <th>{{ q.convenio }}</th>
                    <th>{{ q.outros }}</th>
                    <th>{{ q.total }}</th>
                </tr>
            </tbody>
        {% endfor %}
        </table>

    </div>
    </div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}