    {% extends 'base.html' %}
    {% block content %}
    {% load groupscheck %}
    <div class="container mt-5">
    {% if auth_message %}
        <p><strong>{{ auth_message }}</strong></p>
    {% else %}
    {% if request.user|has_group:"servicopj" %}
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            <div class="container">
                <div class="row linha-baixo">
                    <h2 class="title-cad col-3">Cadastrar Férias</h2>
                    <button class="button col-1"><a href="{% url 'portaria:feriascad' %}" style="text-decoration:none;color:white;">Entrar</a></button>
                </div>
            </div>
            <div class="container">
                <div class="row linha-baixo">
                    <h2 class="title-cad col-3">Painel férias a vencer</h2>
                    <button class="button col-1"><a href="{% url 'portaria:feriasview' %}" style="text-decoration:none;color:white;">Entrar</a></button>
                </div>
            </div>
            <div class="container">
                <div class="row linha-baixo">
                    <h2 class="title-cad col-3">Exportar CSV</h2>
                    <form method="post" action="{% url 'portaria:get_ferias_csv' %}">
                        {% csrf_token %}
                        <input class="col-2" type="date" name="dataini" placeholder="Data inicio">
                        <input class="col-2" type="date" name="datafim" placeholder="Data fim">
                        <button class="col-1">Exportar</button>
                    </form>
                </div>
            </div>
    </div>
    {% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
    {% endif %}
    {% endblock %}
