{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load groupscheck %}
{% if request.user|has_group:"frota" %}
<div class="container mt-5">
    {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
    <div class="row">
        <h1 class="title-cad">Cadastro Checklist</h1>
        <div class="col-12">
            <form action="{% url 'portaria:frota' %}" method="post" class="linha-baixo">
                {% csrf_token %}
                <h2 class="title-cad">Motorista:<input type="text" name="moto_src">
                    <button type="submit" style="height:3.4rem;"><ion-icon style="font-size:2.4rem;" name="search-sharp"></ion-icon></button>
                </h2>
            </form>
            <form method="get" class="linha-baixo">
                <div>
                <h2 class="title-cad">Insira a placa:<input type="text" name="placa_">
                    <button type="submit" style="height:3.4rem;"><ion-icon style="font-size:2.4rem;" name="clipboard-outline"></ion-icon></button>
                </h2>
                </div>
                <table>
                {% for q in qs %}
                    <tr>
                        <td><input type="radio" name="moto_" value="{{ q.codigomot }}"></td><td>{{ q.nome }}</td>
                    </tr>
                {% endfor %}
                </table>
            </form>
        </div>
    </div>

    <div class="container linha-baixo">
        <div class="row">
            <h2 class="title-cad">Painel de checklists<button type="submit"><a style="color:white;" href="{% url 'portaria:checklistview' %}">Acessar</a></button></h2>
        </div>
    </div>
</div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}