{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load groupscheck %}
{% if request.user|has_group:"frota" %}
<div class="container mt-5">
    {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
    <div class="row">
        <div class="col-12">
            <form action="{% url 'portaria:frota' %}" method="get" class="linha-baixo">
                <h2 class="title-cad">Insira a placa:<input type="text" name="placa_"></h2>
                <input type="submit" class="button">
            </form>
        </div>
    </div>
</div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}