{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load groupscheck %}
{% if request.user|has_group:"frota" %}
<div class="container mt-5">
    {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
    <div class="container">
        <div class="row linha-baixo">
            <h2 class="title-cad">Cadastros de Motoristas <button type="submit"><a style="color:white;" href="{% url 'portaria:cadmotorista' %}">Acessar</a></button></h2>
        </div>
        <div class="row linha-baixo">
            <h2 class="title-cad">Cadastros de Veículos <button type="submit"><a style="color:white;" href="{% url 'portaria:cadveiculo' %}">Acessar</a></button></h2>
        </div>
    </div>
</div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}