{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load groupscheck %}
{% if request.user|has_group:"frota" %}
    <div class="container mt-4">
        {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-6">
                <form method="get">
                <h2 class="title-cad">Filtrar placa:<input type="text" name="isplaca"><input type="submit" class="button"></h2>
                </form>
            </div>
        </div>
        <div class="row">
        <table class="table table1">
            <thead>
            <tr>
                <td>ID</td>
                <td>PLACA</td>
                <td>TIPO</td>
                <td>SERVICO</td>
                <td>ENTRADA</td>
                <td>PREVISAO</td>
                <td>STATUS</td>
                <td>IMPRESSAO</td>
                <td>CADASTRAR SAIDA</td>
            </tr>
            </thead>
            <tbody>
            {% for c in lista %}
            <tr>
                <th>{{ c.id }}</th>
                <th>{{ c.veiculo }}</th>
                <th>{{ c.tp_manutencao }}</th>
                <th>{{ c.tp_servico }}</th>
                <th>{{ c.dt_entrada|date:'d/m/Y' }}</th>
                <th>{{ c.prev_entrega|date:'d/m/Y' }}</th>
                {% now 'd/m/Y' as hoje %}
                <th>{% if c.prev_entrega|date:'d/m/Y' > hoje %}NORMAL{% elif c.prev_entrega|date:'d/m/Y' <= hoje %}ATRASADO{% endif %}</th>
                <th><a href="{% url 'portaria:manutencaoprint' osid=c.id %}">Print</a></th>
                <th><a href="{% url 'portaria:manusaida' osid=c.id %}">Saida</a></th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    </div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}