{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load groupscheck %}
{% if request.user|has_group:"frota" %}
    <div class="container mt-4">
        {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        <div class="row mb-3 linha-baixo">
                <form method="get">
                    <h3 class="title-cad">Cadastro entrada manutenção</h3>
                        <input type="text" placeholder="Insira a placa" name="placa">
                    <input type="submit" class="button">
                </form>
        </div>

        <div class="row mb-3 linha-baixo">
            <form method="post" action="{% url 'portaria:manutencaofrota' %}">
                {% csrf_token %}
                <h3 class="title-cad">Cadastro saida manutenção</h3>
                <input type="text" placeholder="Insira o OS" name="idmanu">
                <input type="submit" class="button">
            </form>
        </div>

        <div class="row mb-3 linha-baixo">
            <h2 class="title-cad">Painel veículos em manutenção<a href="{% url 'portaria:manutencaoview' %}" class="button">Edit</a></h2>
        </div>

        <div class="row mb-3 linha-baixo">
            <h2 class="title-cad">Exportar por data csv</h2>
            <form method="post" action="{% url 'portaria:get_manu_csv' %}">
                {% csrf_token %}
                <input type="date" placeholder="Data início" name="dataIni">
                <input type="date" placeholder="Data final" name="dataFin">
                <input type="submit" class="button">
            </form>
        </div>

    </div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}