    {% extends 'base.html' %}
    {% block content %}
    <div class="container mt-5">
    <div class="row linha-baixo mb-3">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="title-cad">Exportar CSV portaria</h3>
            <form class="form-box" action="{% url 'portaria:get_portaria_csv' %}" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Data inicio" name="dataIni" id="id_date">
                <input type="text" placeholder="Data final" name="dataFim" id="id_date1">
                <input type="submit" class="button">
            </form>
        </div>
    </div>
    <div class="row linha-baixo mb-3">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="title-cad">Exportar CSV Palets</h3>
            <form class="form-box" action="{% url 'portaria:get_portaria_csv' %}" method="post">
                {% csrf_token %}
                <input type="submit" class="button">
            </form>
        </div>
    </div>
    </div>


    <!-- JS -->
    <script>
      $(function () {
        $("#id_date").datepicker({
            format:'dd/mm/yyyy'
        });
        $("#id_date1").datepicker({
            format:'dd/mm/yyyy'
        });
      });
    </script>
    {% endblock %}