{% extends 'base.html' %}
{% block content %}
{% load groupscheck %}
{% if request.user|has_group:"palets" %}
        <div class="container mt-5">
            <div class="row linha-baixo">
                <h2 class="title-cad">Quantidade de Paletes por garagem</h2>
            </div>
            <div class="row" style="margin-left: 6rem; ">
            {% for palete in lista %}
            <div class="card" style="width: 10rem; margin-top: 5rem;">
                <div class="card-body" style="text-align:center;">
                    <h5 class="card-title">{{ palete.loc_atual}}</h5>
                    <p class="card-text">{{ palete.num_ratings }}</p>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
    <!-- JS Scripts -->
    <script>
      $(function () {
        $("#id_date").datepicker({
            format:'dd/mm/yyyy'
        });
        $("#id_date1").datepicker({
            format:'dd/mm/yyyy'
        });
      });
    </script>

{% endblock %}