{% extends 'base.html' %}
{% block content %}
{% load groupscheck %}
{% if request.user|has_group:"paletes" %}
        <div class="container mt-5">
            <div class="row linha-baixo">
                <h2 class="title-cad col-9">Quantidade de Paletes por garagem</h2>

                <div class="col-3">
                    <form class="form-box" action="{% url 'portaria:get_palete_csv' %}" method="post">
                        {% csrf_token %}
                        <h3 class="title-cad">Exportar CSV<input type="submit" class="button"></h3>
                    </form>
                </div>
                <div class="col-7">
                    <h2 class="title-cad">Total: {{ ttcount.total_amount }}</h2>
                </div>
                <div class="col-5">
                    <form method="get">
                    Filial:
                    <select name="filial">
                        <option></option>
                        {% for t,p in tp_fil %}
                            <option value="{{ t }}">{{ p }}</option>
                        {% endfor %}
                    </select>
                    Tipo Palete:
                    <select name="tp_palete">
                        <option></option>
                        <option value="PBR">PBR</option>
                        <option value="CHEP">CHEP</option>
                    </select>
                    <button type="submit">Filtrar</button>
                    </form>
                </div>
            </div>
            <div class="row" style="margin-left: 6rem;">
            {% for palete in form %}
            <div class="card text-center" style="width: 11rem; margin-top: 5rem;">
                <div class="card-body">
                    <h4 class="card-title">{{ palete.loc_atual}}</h4>
                    <p class="card-text">{{ palete.tp_palete }}</p>
                    <strong><p class="card-text">{{ palete.num_ratings }}</p></strong>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}

{% endblock %}