{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
    <div class="row linha-baixo">
        <form method="get">
        <h2 class="title-cad">Cadastrar NF por serviços PJ
            <input name="nomefunc" placeholder="Digite o nome completo" type="text">
            <input type="submit" class="button">
        </h2>
        </form>
        {% if error_message %}
        <strong>{{ error_message }}</strong>
        {% elif success_message %}
        <strong>{{ success_message }}</strong>
        {% endif %}
    </div>
    <div class="row linha-baixo">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>CNPJ</th>
                    <th>Premio/Faculdade</th>
                    <th>Ajuda de Custo</th>
                    <th>Adiantamento</th>
                    <th>Convenio</th>
                    <th>Total a pagar</th>

                </tr>
            </thead>
        {% for q in arrya %}

                <tr>
                    <th>{{ q.nome }}</th>
                    <th>{{ q.cpf }}</th>
                    <th>{{ q.cnpj }}</th>
                    <th>{{ q.premios }}</th>
                    <th>{{ q.ajuda_custo }}</th>
                    <th>{{ q.adiantamento }}</th>
                    <th>{{ q.convenio }}</th>
                    <th>{{ q.total }}</th>
                    <th><a href="{% url 'portaria:cadservicospj' q.id %}">Edit</a></th>
                </tr>
        {% endfor %}
        </table>

    </div>
</div>
{% endblock %}