    {% extends 'base.html' %}
    {% block content %}
    {% load groupscheck %}
    <div class="container mt-5">
    {% if auth_message %}
        <p><strong>{{ auth_message }}</strong></p>
    {% else %}
    {% if request.user|has_group:"monitoramento" %}
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        <form method="post">
            {% csrf_token %}
        <div class="row">
        <div class="container col-4" style="float:left; border:2px ridge;">
            <div class="row">
            <label for="remetente">Remetente:</label>
            <select style="width: 30rem;" id="remetente" name="remetente">
                <option value="-Selecione-">-Selecione-</option>
            </select>
            </div>
            <div class="row">
            <label for="destinatario">Destinatário:</label>
            <select style="width: 30rem;" id="destinatario" name="destinatario">
                <option value="-Selecione-">-Selecione-</option>
            </select>
            </div>
            <div class="row">
            <label for="servico">Filial:</label>
            <select style="max-width:30rem; width: 30rem;" id="servico" name="filial">
                <option value="-Selecione-">-Selecione-</option>
                {% for q,v in fil %}
                    <option value="{{ q }}">{{ v }}</option>
                {% endfor %}
            </select>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="categoria">Categoria:</label>
                        <select id="categoria" name="categoria">
                            <option value="-Selecione-">-Selecione-</option>
                        </select>
                </div>
                <div class="col-6">
                <label for="urgencia">urgencia:</label>
                    <select id="urgencia" name="urgencia">
                        <option value="-Selecione-">-Selecione-</option>
                    </select>
                </div>
            </div>
                <div class="row">
                    <label for="responsavel">Responsavel</label>
                    <select style="width:30rem;" id="responsavel" name="responsavel">
                        <option>-Selecione-</option>
                        {% for q in users %}
                        <option>{{ q }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <label for="cc">CC</label>
                    <input type="text"  id="cc" name="cc" style="width:30rem;">
                </div>
        </div>


        <div class="container col-8" style="border:2px ridge;">
            <div class="row">
                <label for="assunto">Assunto:</label>
                <div class="col-12">
                <input id="assunto" autocomplete="off" name="assunto" type="text" size="50rem;"><br>
                </div>
            </div>
            <div class="row">
                <h4>Mensagem:</h4>
                <div class="col-12">
                {{ editor.area|safe }}
                </div>
            </div>
        </div>
            <input type="submit" class="button">
        </div>
        </form>
    </div>
    {% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
    </div>
    {% endif %}
    {% endblock %}