{% extends 'base.html' %}
{% block content %}
{% load groupscheck %}
{% if request.user|has_group:"paletes" %}
    <div class="container mt-5">
        {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
    <div class="row linha-baixo mb-3">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="title-cad">Transferir paletes entre filiais</h3>
            <form class="form-box" action="" method="post">
                {% csrf_token %}
                <table>
                    <tbody>
                        <th>
                            <td>Origem:{{ form.origem_ }}</td>
                            <td>Destino:{{ form.destino_ }}</td>
                            <td>Quantidade:{{ form.quantidade_ }}</td>
                            <td>Placa Veic:{{ form.placa_veic }}</td>
                            <td><input type="submit" class="button"></td>
                        </th>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
    </div>

{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}

{% endblock %}