{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4">
        <table class="table">
            <thead>
            <tr>
                <td scope="col">PLACA</td>
                <td scope="col">PLACA2</td>
                <td scope="col">MOTORISTA</td>
                <td scope="col">FILIAL</td>
                <td scope="col">ENTRADA</td>
                <td scope="col">SAIDA</td>
                <td scope="col">ULTIMA ALTERAÇÃO</td>
            </tr>
            </thead>
            <tbody>
                {% for cadastro in lista %}
                <tr>
                    <th>{{ cadastro.placa }}</th>
                    <th>{{ cadastro.placa2 }}</th>
                    <th>{{ cadastro.motorista }}</th>
                    {% if cadastro.garagem == 1 %}
                    <th>SPO</th>
                    {% elif cadastro.garagem == 2 %}
                    <th>REC</th>
                    {% elif cadastro.garagem == 3 %}
                    <th>SSA</th>
                    {% elif cadastro.garagem == 4 %}
                    <th>FOR</th>
                    {% elif cadastro.garagem == 5 %}
                    <th>MCZ</th>
                    {% elif cadastro.garagem == 6 %}
                    <th>NAT</th>
                    {% elif cadastro.garagem == 7 %}
                    <th>JPA</th>
                    {% elif cadastro.garagem == 8 %}
                    <th>AJU</th>
                    {% elif cadastro.garagem == 9 %}
                    <th>VDC</th>
                    {% elif cadastro.garagem == 10 %}
                    <th>MG</th>
                    {% elif cadastro.garagem == 11 %}
                    <th>CTG</th>
                    {% elif cadastro.garagem == 12 %}
                    <th>TCO</th>
                    {% elif cadastro.garagem == 13 %}
                    <th>UDI</th>
                    {% elif cadastro.garagem == 14 %}
                    <th>TNA</th>
                    {% elif cadastro.garagem == 15 %}
                    <th>VIX</th>
                    {% endif %}
                    <th>{{ cadastro.hr_chegada|date:'d/m/Y' }}</th>
                    <th>{{ cadastro.hr_saida|date:'d/m/Y' }}</th>
                    <th>{{ cadastro.autor }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if request.user.is_authenticated %}
        <button class="btn btn-primary">
            <a href="{% url 'portaria:get_portaria_csv' %}" style="text-decoration:none; color:white;">Export</a>
        </button>
        {% else %}
        {% endif %}
    </div>


{% endblock %}