    {% extends 'base.html' %}
    {% block content %}
    {% load groupscheck %}
    {% if request.user|has_group:"portaria" %}
            <div class="container">
            <div class="row">
                <form class="container" action="" method="get">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table><tbody>
                            <th><tr><td>{{ form.date }}</td>
                                    <td>{{ form.date1 }}</td>
                                    <td><input type="submit" value="Filtrar" class="button"></td>
                                    <td></td></tr>
                        </tbody></table>
                    </div>
                </form>
            </div>

            <div class="row">
            <table class="table table1">
                <thead>
                <tr>
                    <td scope="col">PLACA</td>
                    <td scope="col">MOTORISTA</td>
                    <td scope="col">EMPRESA</td>
                    <td scope="col">GARAGEM</td>
                    <td scope="col">DESTINO</td>
                    <td scope="col">TP_MOT</td>
                    <td scope="col">TP_VIAGEM</td>
                    <td scope="col">ENTRADA</td>
                    <td scope="col">SAIDA</td>
                    <td scope="col">CHANGED BY</td>
                </tr>
                </thead>
                <tbody>
                    {% for cadastro in page_obj %}
                    <tr>
                        <th>{{ cadastro.placa }}</th>
                        <th>{{ cadastro.motorista }}</th>
                        <th>{{ cadastro.empresa }}</th>
                        <th>{{ cadastro.origem }}</th>
                        <th>{{ cadastro.destino }}</th>
                        <th>{{ cadastro.tipo_mot }}</th>
                        <th>{{ cadastro.tipo_viagem }}</th>
                        <th>{{ cadastro.hr_chegada|date:'d/m/Y H:i' }}</th>
                        <th>{{ cadastro.hr_saida|date:'d/m/Y H:i' }}</th>
                        <th>{{ cadastro.autor }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?{% param_replace page=1 %}">&laquo; prim.</a>
                            <a href="?{% param_replace page=page_obj.previous_page_number %}">ant.</a>
                        {% endif %}

                        <span class="current">
                            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?{% param_replace page=page_obj.next_page_number %}">próx.</a>
                            <a href="?{% param_replace page=page_obj.paginator.num_pages %}">últ. &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                {% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}

            </div>
</div>

    {% endblock %}

