{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load groupscheck %}
{% if request.user|has_group:"compras" %}
    <div class="container mt-4">
        {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <h1>Funções<hr></h1>
        <div class="container">
            <div class="row linha-baixo">
                <form method="post" action="{% url 'portaria:compras_lancar_pedido' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3>Lançar</h3>
                    <label for="fil">Filial:</label>
                    <select id="fil" name="filial">
                        <option selected disabled value="">--</option>
                        {% for k,v in gachoices %}
                        <option value="{{k}}">{{ v }}</option>
                        {% endfor %}
                    </select>
                    <label for="getid">Código Solicitação:</label>
                    <input type="text" name="getid" id="getid">
                    <label for="getanexo" style="font-size:2.4rem;cursor:pointer;"><ion-icon name="attach-outline"></ion-icon></label>
                    <input type="file" name="getanexo" id="getanexo">
                    <button type="submit">Enviar</button>
                </form>
            </div>
            <div class="row linha-baixo">
                <h3>Painel</h3>
                <a class="col-1" href="{% url 'portaria:painel_compras' %}"><button type="button">Acessar</button></a>
            </div>
            <!--
            <div class="linha-baixo">
                <div class="row createtkt">
                    <div class="col-4 createboxes">
                        <h3>Tickets por usuário</h3>
                        <hr>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Nome</td>
                                    <td>Quantidade</td>
                                </tr>
                            </thead>
                        {% for q in item_solicitante %}
                            <tbody>
                            {% if q.responsavel__username %}
                            <td>{{ q.responsavel__username }}</td><td>{{ q.total }}</td>
                            {% endif %}
                            </tbody>
                        {% endfor %}
                        </table>
                    </div>
                    <div class="col-8 createboxes">
                        <div class="row">
                            <h3>Métricas</h3><hr>
                            <div class="col-4 card" style="width:auto;background:#e8eef5;border:solid 3px;border-radius:10px;">
                                <div class="card-body" style="text-align:center;">
                                    <h3 class="card-title">Andamento</h3>
                                    <p class="card-text">{{ metrics.andamento|default_if_none:'0' }}</p>
                                </div>
                            </div>
                            <div class="col-4 card" style="width:auto;background:#e8eef5;border:solid 3px;border-radius:10px;">
                                <div class="card-body" style="text-align:center;">
                                    <h3 class="card-title">Concluido</h3>
                                    <p class="card-text">{{ metrics.concluido|default_if_none:'0' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}