{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load groupscheck %}
{% if request.user|has_group:"compras" %}
<style>
    input[type="file"]{
        display:block;
        border-radius:0;
    }
</style>
    <div class="container mt-4">
        {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <h1>Funções<hr></h1>
        <div class="container viewmonit">
            <div class="tktcontainer">
                <div class="row">
                    <div class="col-4">
                    <h2>Solicitação nº {{ obj.nr_solic }}</h2>
                    <form method="post">{% csrf_token %}
                    <ul>
                        <li>Status:
                        <select name="status">
                            <option label="{{ obj.status|default_if_none:'Não Cadastrado' }}"></option>
                            {% for k,v in stschoices %}
                            <option value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                        </select></li>
                        <li>Filial:
                        <select name="filial">
                            <option label="{{ obj.get_filial_display|default_if_none:'Não Cadastrado' }}"></option>
                            {% for k,v in gachoices %}
                            <option value="{{ v }}">{{ v }}</option>
                            {% endfor %}
                        </select></li>
                        <li>Departamento:
                            <select name="departamento">
                            <option label="{{ obj.departamento|default_if_none:'Não Cadastrado' }}"></option>
                            {% for k,v in dpchoices %}
                            <option value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                        </select></li>
                        <li>Responsável:
                        <select name="responsavel">
                            <option label="{{ obj.responsavel|default_if_none:'Não Cadastrado' }}"></option>
                            {% for q in rpchoices %}
                            <option value="{{ q.id }}">{{ q.username }}</option>
                            {% endfor %}
                        </select></li>
                        <li>Categoria:
                        <select name="categoria" id="categoria" onchange="DisplayInput();">
                            <option label="{{ obj.categoria }}">{{ obj.categoria }}</option>
                            <option label="ALMOXARIFADO">ALMOXARIFADO</option>
                            <option label="COTAÇÃO">COTAÇÃO</option>
                            <option label="NOTA FISCAL">NOTA FISCAL</option>
                        </select></li>
                        {% if not obj.prazo_conclusao %}<li><label for="prazo_conclusao">Prazo:</label>
                            <input type="date" readonly id="prazo_conclusao" name="prazo_conclusao"></li>
                        {% else %}
                            <li><label for="prazo_conclusao">Prazo:</label>
                            <input type="text" readonly id="prazo_conclusao" value="{{ obj.prazo_conclusao }}"></li>
                        {% endif %}
                        {% if not obj.dt_vencimento %}<div id="display_dt_venc" style="display:none;"><li>
                                <label for="dt_venc">Vencimento:</label><input type="date" id="dt_venc" name="dt_venc">
                        </li></div>
                        {% else %}
                            <li>
                                <label for="dt_venc">Vencimento:</label>
                                <input type="text" id="dt_venc" readonly value="{{ obj.dt_vencimento }}">
                            </li>
                        {% endif %}
                        <li>Solicitante: {{ obj.solicitante|default_if_none:'Não Cadastrado' }} </li>
                        <li>Anexo: {% if obj.anexo %}<a href="/media/{{ obj.anexo }}" download>{{ obj.anexo|filename }}</a>
                            {% else %} nenhum anexo. {% endif %}
                        </li>
                    </ul>
                        <button type="submit">Atualizar</button>
                    </form>
                    </div>
                    <div class="col">
                        <h2>Cadastrar entradas</h2>
                        <form method="post" action="{% url 'portaria:insert_entradas_cpr' %}" enctype="multipart/form-data">{% csrf_token %}
                            <input type="hidden" name="obj_id" value="{{ obj.id }}">
                            <div class="col">
                                {{ editor.area|safe }}
                            </div>
                            <div class="col-2" style="margin-left:2rem;">
                                <input type="file" name="file" multiple="" id="id_file">
                                <button type="submit">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>

                <hr>
                <h2>Lista de itens</h2>
                <ul>
                    {% for q in obj.produtossolicitacoes_set.all %}
                        <li>{{ q.produto }} - {{ q.qnt_itens }}un </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="container viewmonit">
            <div class="tktcontainer">
                <h2>Entradas</h2>
                <hr>
                <div class="row">
                    {% if entradas %}
                        {% for q in entradas %}
                            <div class="container createboxes">
                                <ul>
                                    <li>ID entrada: {{ q.id }}</li>
                                    <li>Observação: {{ q.obs|safe }}</li>
                                    {% if q.file1 %}<li><a href="/media/{{ q.file1 }}" download>{{ q.file1|filename }}</a></li>{% endif %}
                                    {% if q.file2 %}<li><a href="/media/{{ q.file2 }}" download>{{ q.file2|filename }}</a></li>{% endif %}
                                    {% if q.file3 %}<li><a href="/media/{{ q.file3 }}" download>{{ q.file3|filename }}</a></li>{% endif %}
                                </ul>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
<script>
    var input = document.getElementById('id_file')
    input.addEventListener('change', (e) =>{
        const files = input.files;
        if(files.length > 3){
            alert('Máximo de 3 arquivos permitidos.')
            input.value = ''
        }
    });
</script>
<script>
    function DisplayInput(){
        key = document.getElementById('categoria');
        switchkey = key.options[key.selectedIndex].label
        if(switchkey == 'NOTA FISCAL'){
            document.getElementById('display_dt_venc').style.display = "block";
        }else{
            document.getElementById('display_dt_venc').style.display = "none";
            }
        lklk = document.getElementById('prazo_conclusao').value = getPrazo(switchkey);
        };

    function getPrazo(e){
        if(e == 'ALMOXARIFADO' || e == 'NOTA FISCAL'){
            plusdays = 5
        } else{
            plusdays = 10
        }
        result = new Date();
        result.setDate(result.getDate() + plusdays);
        while(result.getDay() == '0' || result.getDay() == '6' ){
            result.setDate(result.getDate() + 1)
        }
        return result.toLocaleDateString('en-CA');
    }
</script>
{% endblock %}