{% extends 'base.html' %}
{% block content %}
{% load groupscheck %}
{% if request.user|has_group:"justificativas" %}
<style>
    .smallcap td{
        font-size:11px;
    }
</style>
        <div class="container mt-5">
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            <div class="row linha-baixo">
                <h2 class="title-cad col-6">Justificativas</h2>
                <div class="col-6">
                    <form method="get">
                    <label for="dates">Período:</label>
                    <input type="date" name="data1" id="dates">
                    <input type="date" name="data2">
                    <label for="filial">Filial:</label>
                    <select name="filial" id="filial">
                        <option></option>
                        {% for t,p in gachoices %}
                            <option value="{{ t }}">{{ p }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Filtrar</button>
                    </form>
                </div>
            </div>
            <div class="row" style="margin-left: 6rem;">
            <form method="post" id="formgroup" enctype="multipart/form-data">{% csrf_token %}
            <table class="table">
                <thead>
                <tr>
                    <th>CTE</th>
                    <th>Emissão</th>
                    <th>Remetente</th>
                    <th>Destinatário</th>
                    <th>Peso</th>
                    <th>LeadTime</th>
                    <th>Em Aberto</th>
                    <th>Entrega</th>
                    <th>Nota Fiscal</th>
                    <th>Justificativa</th>
                </tr>
                </thead>
                <tbody>

                {% for f in form %}
                    <tr class="smallcap" style="{% if f.recusa %}background-color: #ff000091;{% endif %}" >

                        <td>{{ f.conhecimento }}</td>
                        <td>{{ f.data_emissao }}</td>
                        <td>{{ f.remetente }}</td>
                        <td>{{ f.destinatario }}</td>
                        <td>{{ f.peso }}</td>
                        <td>{{ f.lead_time }}</td>
                        <td>{{ f.em_aberto }}</td>
                        <td>{{ f.local_entreg }}</td>
                        <td>{{ f.nota_fiscal|truncatechars:'100' }}</td>
                        <td><select name="ocor{{ forloop.counter0 }}" style="font-size:10px;">
                            <option selected disabled value="">--</option>
                            {% for k,v in justchoices %}
                            <option value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                            </select>
                            <input type="hidden" name="idobj{{ forloop.counter0 }}" value="{{ f.id }}">
                            <input type="hidden" name="counter" value="{{ forloop.counter0 }}">
                        </td>
                        <td><label style="font-size:2.4rem;cursor:pointer;margin-top:5px;" for="file{{ forloop.counter0 }}"><ion-icon name="cloud-upload-outline"></ion-icon></label>
                            <input type="file" id="file{{ forloop.counter0 }}" name="file{{ forloop.counter0 }}">
                        </td>
                        <td>
                            <button style="font-size:1.4rem;" type="button" id="myBtn" value="{{ forloop.counter }}"><ion-icon name="list"></ion-icon></button>
                        </td>
                    </tr>
                        <div id="myModal{{ forloop.counter }}" class="modal">
                            <div class="modal-content">
                                <div>
                                    <span class="title-cad">Ocorrências</span>
                                    <span class="close col">&times;</span>
                                </div>
                                <div class="container tktcontainer">
                                    {% if f.ocorrenciaentrega_set.all %}
                                    <ul>
                                    {% for q in f.ocorrenciaentrega_set.all %}
                                        <li><p style="margin: 0 0 0 0;">Descrição: <strong>{{ q.desc_ocor }}</strong> -
                                            Data:<strong>{{ q.data_ocorrencia }}</strong></p></li>
                                    {% endfor %}
                                    </ul>
                                    {% else %}
                                        <p style="margin: 0 0 0 0;">Nenhuma ocorrencia encontrada.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                {% endfor %}
                </tbody>
            </table>
                <button class="col-1" type="submit">Lançar</button>
            </form>

            </div>
        </div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
<script>
    $(document).ready(function(){
        $("button").click(function(){
            var btn = $(this);
            var but = $(this).val();
            var modal = document.getElementById("myModal"+but);
            var span = modal.getElementsByClassName("close")[0];
            modal.style.display = "block";

            span.onclick = function() {
                modal.style.display = "none";
            };
            window.onclick = function(event) {
                if (event.target == modal){
                    modal.style.display = "none";
                }
            };
        });
    });
</script>
{% endblock %}