{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load groupscheck %}
{% if request.user|has_group:"lancar_compras" %}
    <div class="container mt-4">
        {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <form style="width: 50%; margin-left: 25%;" method="post">
        {% csrf_token %}
            <div class="form-group">
                <label for="data">Data</label>
                <input type="date" class="form-control" id="data" name="data" required>
            </div>
            <div style="display: flex; width: 100%; justify-content: space-between;">
                <div class="form-group" style="display: inline-block; width: 48%;">
                    <label for="filial">Filial</label>
                    <select class="form-control" id="filial" name="filial" required>
                        <option selected disabled value="">--</option>
                        {% for k,v in filiais %}
                            <option value="{{ k }}"> {{ v }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" style="display: inline-block; width: 48%;">
                    <label for="dep">Departamento</label>
                    <select class="form-control" id="dep" name="dep"  required>
                        <option selected disabled value="">--</option>
                        {% for k,v in deps %}
                            <option value="{{ k }}"> {{ v }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="categoria">Categoria</label>
                <input type="text" class="form-control" id="categoria" name="categoria" aria-describedby="emailHelp" placeholder="Categoria" required>
            </div>
            <div class="form-group">
                <label for="solic">Solicitante</label>
                <input type="text" class="form-control" id="solic" name="solic" aria-describedby="Solicitante" placeholder="Solicitante" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" aria-describedby="Solicitante" placeholder="Email" required>
            </div>
            <br>
            <div class="form-group">
                <label for="anexo" style="font-size:2.4rem;cursor:pointer;"><ion-icon name="attach-outline"></ion-icon></label>
                <input type="file" class="form-control" id="anexo" name="anexo" required />
            </div>
            <hr>
            <h3> Produto </h3>
            <div class="form-group">
                <label for="p_item">Nome</label>
                <input type="text" class="form-control" id="p_item" name="p_item" aria-describedby="Solicitante" placeholder="Solicitante" required>
            </div>
            <div class="form-group">
                <label for="p_qty">Quantidade</label>
                <input type="text" class="form-control" id="p_qty" name="p_qty" aria-describedby="Solicitante" placeholder="Solicitante" required>
            </div>
            <button style="float: right;" type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!--

            {% for q in form %}
                    <tr style="{% if q.pub_date|timedelta7 %}background:#ff644e;{% endif %}">
                        <td>{{ q.nr_solic }}</td>
                        <td>{{ q.data }}</td>
                        <td>{{ q.pub_date }}</td>
                        <td>{{ q.status }}</td>
                        <td>{{ q.get_filial_display }}</td>
                        <td>{{ q.solicitante }}</td>
                        <td>{{ q.responsavel|default_if_none:'Não Cadastrado' }}</td>
                        <td><button type="button" id="myBtn" value="{{ forloop.counter }}"><ion-icon name="list"></ion-icon></button></td>
                        <td><a href="{% url 'portaria:edit_compras' q.id %}"><button type="button"><ion-icon name="create"></ion-icon></button></a></td>
                    </tr>
                        <div id="myModal{{ forloop.counter }}" class="modal">
                            <div class="modal-content">
                                <div>
                                    <span class="title-cad">Itens do pedido</span>
                                    <span class="close col">&times;</span>
                                </div>
                                <div class="container tktcontainer">
                                    {% if q.produtossolicitacoes_set.all %}
                                        <ul>
                                        {% for i in q.produtossolicitacoes_set.all %}
                                            <li><p style="margin: 0 0 0 0;">Item {{ forloop.counter }}: <strong>{{ i.produto }}</strong>
                                        {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p style="margin: 0 0 0 0;">Nenhuma ocorrencia encontrada.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <tr><h2><strong>Não foi encontrado nenhuma solicitação com os dados informados.</strong></h2></tr><hr>
                    {% endfor %}
            </table>
        </div>
        -->
                    
    </div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}