{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load groupscheck %}
{% if request.user|has_group:"romaneioxml" %}
<style>
    .False{
        background-color:#e7e7a0;
    }
    .True{
        background-color:#c3e7a0;
    }
    th{
        border-color:black;
    }
</style>
    <div class="container mt-4">
        {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="container">
            <h2>Exportar</h2><hr>
            <form method="get">
            <input name="data1" type="date"><input name="data2" type="date">
            <select name="remetente">
                <option selected disabled>Selecione...</option>
                {% for q in getrem %}
                <option value="{{ q }}">{{ q }}</option>
                {% endfor %}
            </select>
            <button type="submit">Filtrar</button>
            </form>
            <hr>
        </div>
        <div class="container">
            <h2>Painel</h2>
            <div style="position:relative;">
            <button style="position:absolute; right:0;bottom:0;" id="chkall" type="button">Marcar todos</button>
            </div>
            <hr>
            <table class="table table1">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>ID</td>
                        <td>Data Emissão</td>
                        <td>Nota Fiscal</td>
                        <td>Valor NF</td>
                        <td>Remetente</td>
                        <td>Destinatario</td>
                        <td>UF</td>
                        <td>Peso</td>
                        <td>Volume</td>
                        <td>Autor</td>
                        <td>Data Importado</td>
                    </tr>
                </thead>
                <tbody>
                <form method="post">
                    {% csrf_token %}
                    {% for q in context %}
                    <tr class="{{q.printed}}">
                        <th><input type="checkbox" value="{{ q.id }}" name="romid"></th>
                        <th>{{ q.id }}</th>
                        <th>{{ q.dt_emissao }}</th>
                        <th>{{ q.nota_fiscal }}</th>
                        <th>R$ {{ q.vlr_nf|floatformat:'2' }}</th>
                        <th style="font-size:11px;">{{ q.remetente|truncatewords:4 }}</th>
                        <th style="font-size:11px;">{{ q.destinatario|truncatewords:4 }}</th>
                        <th>{{ q.uf }}</th>
                        <th>{{ q.peso }}</th>
                        <th>{{ q.volume }}</th>
                        <th>{{ q.autor }}</th>
                        <th>{{ q.pub_date|date:'d/m/Y' }}</th>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <select name="tp_dld">
                                <option hidden>Selecione...</option>
                                <option value="Simples">Simples</option>
                                <option value="Completo">Completo</option>
                                <option value="Remetente">Remetente</option>
                                <option value="Destinatario">Destinatário</option>
                                <option value="Caixa">Caixa</option>
                                <option value="XMLS">XMLS</option>
                            </select>
                        </td>
                        <td></td>
                        <td><button type="submit">download</button></td>
                    </tr>
                </form>
                </tbody>
            </table>
        </div>
    </div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
<script>
    $(document).ready(function(){
        $('#chkall').click(function(){
            var chkbox = $('input[name="romid"]');
            if($(this).hasClass('allChecked')){
                chkbox.prop('checked', false);
                $(this).removeClass('allChecked');
            }else{
                chkbox.prop('checked', true);
                $(this).toggleClass('allChecked');
            }
        });
    });
</script>
{% endblock %}