{% extends 'base.html' %}
{% block content %}
{% load groupscheck %}
{% if request.user|has_group:"justificativas" %}
        <div class="container mt-5">
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            <div class="row linha-baixo">
                <h2 class="title-cad col-6">Relatórios Justificativas</h2>
            </div>
            <div class="container">
                <div class="row linha-baixo">
                    <h2>Porcentagem entregas</h2>
                    <form method="post" id="pivot_rel_just" enctype='multipart/form-data'>{% csrf_token %}
                        <input type="hidden" name="pivot_rel_just" value="pivot_rel_just">
                        <p>Pesquisar por <strong>TODO</strong> os período (sem filtro):<button type="submit">Download Todo Período</button><br></p>
                        
                        <label for="periodo">Pesquisar por Período:</label>
                        <input style="padding: 6px;" type="date" name="date1" id="periodo">
                        <input style="padding: 6px;" type="date" name="date2">
                        <button type="submit">Download</button>
                    </form>
                </div>
            </div>
            {% if request.user|has_group:"justificativas_adm" %}
            <div class="container">
                <div class="linha-baixo">
                    <h2>Confirmar Justificativas</h2>
                    <a class="col" href="{% url 'portaria:confirmjust' %}"><button type="button">Acessar</button></a>
                </div>
            </div>
            {% endif %}
        </div>

{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}