 {% load static %}
  <nav class="navbar navbar-expand-lg navbar-light mb-2" style="background-color: #3188E8;">
      <div class="container-fluid">
      <a class="navbar-brand">
          <img src="{% static 'portaria/images/logo.png' %}">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse menutext-navbar" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link1" aria-current="page" href="/">Home</a>
          </li>

          <div class="dropdown">
            <button class="dropdown-toggle menutext-navbar nav-link1" type="button" style="background-color: #3188E8;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Portaria
            </button>
            <ul class="dropdown-menu" style="background-color: #3188E8;" aria-labelledby="dropdownMenuButton1">
              <li class="nav-item">
                <a class="nav-link1" href="/cadastro/">Cadastro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link1" href="/visualizacao/">Painel</a>
              </li>
              </ul>
          </div>

          <div class="dropdown">
            <button class="dropdown-toggle menutext-navbar nav-link1" type="button" style="background-color: #3188E8;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Palets
            </button>
            <ul class="dropdown-menu" style="background-color: #3188E8;" aria-labelledby="dropdownMenuButton1">
              <li class="nav-item">
                <a class="nav-link1" href="/palets/">Palets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link1" href="/palets/transfpalets">Transferir</a>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="dropdown-toggle menutext-navbar nav-link1" type="button" style="background-color: #3188E8;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Frota
            </button>
            <ul class="dropdown-menu" style="background-color: #3188E8;" aria-labelledby="dropdownMenuButton1">
              <li class="nav-item">
                <a class="nav-link1" href="/frota/">Ferramentas</a>
              </li>
            </ul>
          </div>
          <li class="nav-item"><a class="nav-link1" href="/outputs/">Gerar CSVs</a></li>
        </ul>
      </div>
    </div>

  </nav>