 {% load static %}
 {% load notifications_tags %}
 {% load groupscheck %}
 <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>

  <nav class="navbar navbar-expand-lg navbar-light mb-2" style="background-color: #3188E8;">
      <div class="container-fluid">
      <a class="navbar-brand">
          <img src="{% static 'images/logo.png' %}">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse menutext-navbar" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link1" aria-current="page" href="/portaria/">Home</a>
          </li>
            {% if request.user|has_group:"portaria" %}
          <div class="dropdown">
            <button class="dropdown-toggle menutext-navbar nav-link1" type="button" style="background-color: #3188E8;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Portaria
            </button>
            <ul class="dropdown-menu" style="background-color: #3188E8;" aria-labelledby="dropdownMenuButton1">
              <li class="nav-item">
                <a class="nav-link1" href="{% url 'portaria:cadastro' %}">Cadastro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link1" href="{% url 'portaria:visualizacao' %}">Painel</a>
              </li>
              </ul>
          </div>
          {% endif %}
          {% if request.user|has_group:"paletes" %}
          <div class="dropdown">
            <button class="dropdown-toggle menutext-navbar nav-link1" type="button" style="background-color: #3188E8;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Paletes
            </button>
            <ul class="dropdown-menu" style="background-color: #3188E8;" aria-labelledby="dropdownMenuButton1">
              <li class="nav-item">
                <a class="nav-link1" href="{% url 'portaria:paleteview' %}">Paletes</a>
                <a class="nav-link1" href="{% url 'portaria:cadpaletes' %}">Cadastrar Paletes</a>
                <a class="nav-link1" href="{% url 'portaria:transfpaletes' %}">Transferir</a>
                <a class="nav-link1" href="{% url 'portaria:paletecliente' %}">Painel Cliente</a>
              </li>
            </ul>
          </div>
          {% endif %}
          {% if request.user|has_group:"frota" %}
          <div class="dropdown">
            <button class="dropdown-toggle menutext-navbar nav-link1" type="button" style="background-color: #3188E8;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Frota
            </button>
            <ul class="dropdown-menu" style="background-color: #3188E8;" aria-labelledby="dropdownMenuButton1">
              <li class="nav-item">
                {% if request.user|has_group:"frota-staff" %}
                <a class="nav-link1" href="{% url 'portaria:frota' %}">Checklist</a>
                <a class="nav-link1" href="{% url 'portaria:manutencaofrota' %}">Manutencao</a>
                <a class="nav-link1" href="{% url 'portaria:frotacadastros' %}">Cadastros</a>
                {% endif %}
                <a class="nav-link1" href="{% url 'portaria:agendamentomanu' %}">Agendamento</a>
              </li>
            </ul>
          </div>
          {% endif %}
          {% if request.user|has_group:"outputs" %}
          <!--<li class="nav-item"><a class="nav-link1" href="{% url 'portaria:outputs' %}">Gerar CSVs</a></li>-->
          {% endif %}
          {% if request.user|has_group:"servicopj" %}
          <div class="dropdown">
            <button class="dropdown-toggle menutext-navbar nav-link1" type="button" style="background-color: #3188E8;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Ferramentas PJ
            </button>
            <ul class="dropdown-menu" style="background-color: #3188E8;" aria-labelledby="dropdownMenuButton1">
              <li class="nav-item">
                <a class="nav-link1" href="{% url 'portaria:servicospj' %}">Servicos PJ</a>
                <a class="nav-link1" href="{% url 'portaria:decimopj' %}">13º PJ</a>
                <a class="nav-link1" href="{% url 'portaria:feriaspjv' %}">Férias PJ</a>
                <a class="nav-link1" href="{% url 'portaria:cadfuncionariopj' %}">Cadastrar funcionário</a>
                {% if request.user|has_group:"adm_rh" %}
                <a class="nav-link1" href="{% url 'portaria:atualizarfunc' %}">Atualizar funcionário</a>
                {% endif %}
              </li>
            </ul>
          </div>
          {% endif %}
          {% if request.user|has_group:"faturamento" %}
          <div class="dropdown">
            <button class="dropdown-toggle menutext-navbar nav-link1" type="button" style="background-color: #3188E8;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Faturamento
            </button>
            <ul class="dropdown-menu" style="background-color: #3188E8;" aria-labelledby="dropdownMenuButton1">
            <li class="nav-item">
              <a class="nav-link1" href="{% url 'portaria:fatferramentas' %}">Ferramentas</a>
            </li>
            </ul>
          </div>
          {% endif %}
          {% if request.user|has_group:"monitoramento" %}
          <!--
            <div class="dropdown">
            <button class="dropdown-toggle menutext-navbar nav-link1" type="button" style="background-color: #3188E8;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Monitoramento
            </button>
            <ul class="dropdown-menu" style="background-color: #3188E8;" aria-labelledby="dropdownMenuButton1">
            <li class="nav-item">
              <a class="nav-link1" href="{% url 'portaria:tktmetrics' %}">Ticket</a>
            </li>
            <li class="nav-item">
              <a class="nav-link1" href="{% url 'portaria:includemailtkt' %}">Add Mails</a>
            </li>
            </ul>
          </div>
          -->
          {% endif %}
          {% if request.user|has_group:'ferramentas' %}
          <div class="dropdown">
            <button class="dropdown-toggle menutext-navbar nav-link1" type="button" style="background-color: #3188E8;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Ferramentas
            </button>
            <ul class="dropdown-menu" style="background-color: #3188E8;" aria-labelledby="dropdownMenuButton1">
              {% if request.user|has_group:"adm_rh" %}
              <li class="nav-item"><a class="nav-link1" href="{% url 'portaria:cardusuario' %}">Cards</a></li>
              {% endif %}
              {% if request.user|has_group:"romaneioxml" %}
              <li class="nav-item"><a class="nav-link1" href="{% url 'portaria:romaneioxml' %}">XMLS</a></li>
              {% endif %}
              {% if request.user|has_group:"justificativas" %}
              <li class="nav-item"><a class="nav-link1" href="{% url 'portaria:justificativa' %}">Justificativas</a></li>
                {% if request.user|has_group:"justificativas_adm" %}
                <li class="nav-item"><a class="nav-link1" href="{% url 'portaria:rel_justificativa' %}">Rel Justificativas</a></li>
                {% endif %}
              {% endif %}
              <li class="nav-item"><a class="nav-link1" href="{% url 'portaria:compras_index' %}">Compras</a></li>
              <li class="nav-item"><a class="nav-link1" href="{% url 'portaria:terceirizadosindex' %}">Terceirizados</a></li>
            </ul>
          </div>
          {% endif %}
          {% if request.user|has_group:"etiquetas" %}
          <div class="dropdown">
            <button class="dropdown-toggle menutext-navbar nav-link1" type="button" style="background-color: #3188E8;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Etiquetas
            </button>
            <ul class="dropdown-menu" style="background-color: #3188E8;" aria-labelledby="dropdownMenuButton1">
              <li class="nav-item">
                <a class="nav-link1" href="{% url 'portaria:etiquetas' %}">Gerar Etq Caixas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link1" href="{% url 'portaria:contagemetiquetas' %}">Bipagem Etq Caixas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link1" href="{% url 'portaria:retornoetiqueta' %}">Retorno Etiquetas</a>
              </li>
              <hr>
              <li class="nav-item">
                <a class="nav-link1" href="{% url 'portaria:etiquetas_palete' %}">Gerar Etq Palete</a>
              </li>
              <li class="nav-item">
                <a class="nav-link1" href="{% url 'portaria:bipagem_palete' %}">Bipagem Etq Palete</a>
              </li>
              {% if request.user|has_group:'etiquetas-staff' %}
              <hr>
              <li class="nav-item">
                <a class="nav-link1" href="{% url 'portaria:etqrelatorio' %}">Relatorios</a>
              </li>
              {% endif %}
              </ul>
          </div>
          {% endif %}
          {% if request.user|has_group:"chamado" %}
            <div class="dropdown">
            <button class="dropdown-toggle menutext-navbar nav-link1" type="button" style="background-color: #3188E8;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Chamados
            </button>
            <ul class="dropdown-menu" style="background-color: #3188E8;" aria-labelledby="dropdownMenuButton1">
            <li class="nav-item">
              <a class="nav-link1" href="{% url 'portaria:chamado' %}">Inicio</a>
            </li>
            </ul>
          </div>
          {% endif %}
        </ul>

        {% if user.notifications.unread.exists %}
          <div class="dropdown" style="position:absolute;right:0;">
            <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-labelledby="dropdownMenu2" aria-expanded="false">
              <ion-icon name="notifications"></ion-icon>
            <span class="badge-notifications badge badge-pill badge-danger" style="position:absolute;padding:0;margin-top: -2px !important; font-size: 1rem;">
               {% live_notify_badge %}
            </span>
            </button>
            <div class="dropdown-menu" style="right:1rem;left:-30rem;">
              {% for notification in  user.notifications.unread %}
              <div class="container" style="font-size:12px;">
                    Mensagem de <b>{{ notification.actor }}</b>.
                <div class="dropdown-item"><a style="color:black !important;" href="{% if request.user|has_group:'monitoramento' %}/portaria/tickets/{{ notification.data.data }}/view/{% else %}#{% endif %}">{{ notification.description }}</a>  <a style="text-decoration:none;color:blue !important;" href="{% url 'portaria:isnotifyread' notification.id %}?next={{request.path}}"><ion-icon size="small" name="close-outline"></ion-icon></a></div>
                    <div class="dropdown-divider"></div>
              </div>
              {% endfor %}
              <button style="width:50px;height:20px;"><a style="color:white;font-size:12px;" href="{% url 'portaria:setallread' user.id %}?next={{ request.path }}">Limpar</a></button>
            </div>
          </div>
          {% endif %}

    </div>
    </div>
  </nav>