{% extends "base.html" %}

{% block content %}
<div class="container col-3 mt-5">
  <div class="row">
  {% if form.errors %}
    <p><strong>Your username and password didn't match. Please try again.</strong></p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p><strong>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</strong></p>
    {% else %}
      <p><strong>Please login to see this page.</strong></p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td style="font-family: 'Poppins', sans-serif">{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <!--<p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->

  </div>
</div>
{% endblock %}