{% extends "base.html" %}

{% block content %}
<div class="container col-3 mt-5">
  <div class="row">


  {% if next %}
    {% if user.is_authenticated %}
      <p><strong>Seu usuário não tem permissão para visualizar essa página.</strong></p>
    {% else %}
      <p><strong></strong></p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td style="font-family: 'Poppins', sans-serif">{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input style="padding: 15px 103px", class="button" type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
      {% if form.errors %}
    <p><strong>Usuário ou senha inválidos.</strong></p>
  {% endif %}

  {# Assumes you setup the password_reset view in your URLconf #}
  <!--<p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->

  </div>
</div>
{% endblock %}