{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load groupscheck %}
{% if request.user|has_group:"frota" %}
    <div class="container mt-4">
        {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <h2 class="title-cad">Agendamento Manutenção</h2>
        </div>
        <hr>
        <div class="row">
            <div class="col-8">
                <form method="post">
                    {% csrf_token %}
                    <label for="placav"><strong>Placa:</strong> </label>
                    <input type="text" id="placav" name="placav">
                <table id="addHTML">
                    <tr><th>Tipo serviço:</th><th>
                            <select name="tp_servico">
                                <option hidden>Selecione...</option>
                                {% for q,v in array %}
                                    <optgroup label="{{ q }}">
                                        {% for i in v %}<option value="{{ i.id }}">{{ i.tipo_servico }}</option>{% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                    </th><th><a href="#" id="btnAdiciona" class="button">Add+</a></th></tr>
                </table>
                    <input type="submit" class="button">
                    <input type="hidden" id="setCount" name="setcount">
                </form>
            </div>


        </div>
    </div>

{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
<script type="text/javascript">

	var idContador = 0;

	function exclui(id){
		var campo = $("#"+id.id);
		campo.remove();
	}

	$( document ).ready(function() {
		$("#btnAdiciona").click(function(e){
			e.preventDefault();
			adicionaCampo();
		})

		function adicionaCampo(){

			idContador++;
			var idCampo = "campoExtra"+idContador;
			var idForm = "formExtra"+idContador;
			var idNum = "idNum"+idContador;
			var tp_sv_input = "tp_servico"+idContador;

			var html = "";
			html += "<tr id="+idNum+"><th>Tipo servico "+idContador+"</th>"
			html += "<th><select name='tp_servico' id='id_tp_servico'>"
			html += "{% for q,v in array %}<option hidden>Selecione...</option><optgroup label='{{ q }}'>{% for i in v %}<option value='{{ i.id }}'>{{ i.tipo_servico }}</option>{% endfor %}</optgroup>{% endfor %}</select></th>"
			html += "<th><button class='btn' onclick='exclui("+idNum+")' type='button'>Excluir</button></th></tr>";


			$("#addHTML").append(html);
			document.getElementById('setCount').value = idContador;
		}
    });

	</script>
{% endblock %}