{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load groupscheck %}
{% if request.user|has_group:"frota" %}
<div class="container mt-5">
    {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
    {% endfor %}
    <div class="container">
        <div class="row">
            <h2 class="title-cad">Checklist nº {{ form.idchecklist }}</h2>
            <h3><strong>Placa: </strong>{{ form.placaveic }} | <strong>Motorista: </strong>{{ form.motoristaveic }} | <strong>Data: </strong>{{ form.datachecklist|date:'d/m/Y' }}</h3>
            <h3><strong>Placa Carreta: </strong>{% if form.placacarreta %}{{ form.placacarreta }}{% else %}---- {% endif %}| <strong>Km anterior: </strong>{{ form.kmanterior }} | <strong>Km: </strong>{{ form.kmatual }} | <strong>Horimetro: </strong>{{ form.horimetro }}</h3>
        </div>
        <table class="table table1 linha-baixo">
            <tr><th>Uniforme da Empresa</th><th>{{ form.p1_1|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Motorista identificado por crachá</th><th>{{ form.p1_2|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Lanterna do farol dianteiro funcionando?</th><th>{{ form.p2_1|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Farol baixo funcionando?</th><th>{{ form.p2_2|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Farol alto funcionando</th><th>{{ form.p2_3|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Lanterna direita funcionando?</th><th>{{ form.p2_4|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Lanterna esquerda funcionando?</th><th>{{ form.p2_5|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Lanternas traseiras funcionando?</th><th>{{ form.p2_6|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Luz de ré funcionando?</th><th>{{ form.p2_7|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Retrovisores estão em perfeito estado?</th><th>{{ form.p2_8|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Água do radiador está no nível?</th><th>{{ form.p2_9|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Óleo de freio está no nível?</th><th>{{ form.p2_10|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Óleo de motor está no nível?</th><th>{{ form.p2_11|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Verificado todas as luzes de advertências?</th><th>{{ form.p2_12|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Verificado o freio de emergência?</th><th>{{ form.p2_13|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Verificado o alarme sonoro da ré?</th><th>{{ form.p2_14|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Verificado se existe vazamentos de óleo de motor?</th><th>{{ form.p2_15|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Verificado se existe vazamento de ar?</th><th>{{ form.p2_16|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Verificado se existe vazamento de óleo hidráulico?</th><th>{{ form.p2_17|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Verificado se existe vazamento de água no radiador?</th><th>{{ form.p2_18|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Verificado se as mangueiras estão em condições boas?</th><th>{{ form.p2_19|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Pneus em boas condições?</th><th>{{ form.p2_20|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>As lonas de freio estão em boas condições?</th><th>{{ form.p2_21|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Os estepes estão bons?</th><th>{{ form.p2_22|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>A suspensão está em condições perfeitas?</th><th>{{ form.p2_23|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>O carro está limpo e higienizado?</th><th>{{ form.p2_24|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Foi verificado as luzes de advertência das laterais?</th><th>{{ form.p3_1|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Foi verificado o lacre da placa?</th><th>{{ form.p3_2|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Foi verificado se o aparelho thermoking apresenta falhas?</th><th>{{ form.p3_3|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Foi verificado a carroceria, assoalho e baú?</th><th>{{ form.p3_4|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Foi verificado a luz de freio?</th><th>{{ form.p3_5|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Foi verificado a luz de ré?</th><th>{{ form.p3_6|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Foi verificado se as luzes da lanterna traseira direita funciona?</th><th>{{ form.p3_7|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Foi verificado se as luzes da lanterna traseira esquerda funciona?</th><th>{{ form.p3_8|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Observação</th><th>{{ form.obs }}</th></tr>
        </table>
        <button><a style="color:white;" href="{% url 'portaria:checklistview' %}">Voltar</a></button>
    </div>
</div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}