{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load groupscheck %}
{% if request.user|has_group:"frota" %}
<div class="container mt-5">
    {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
    {% endfor %}
    <div class="container">
        <div class="row">
            <h2 class="title-cad">Checklist nº {{ form.idchecklist }}</h2>
            <h3><strong>Placa: </strong>{{ form.placaveic }} | <strong>Motorista: </strong>{{ form.motoristaveic }} | <strong>Data: </strong>{{ form.datachecklist|date:'d/m/Y' }} | <strong>Filial:</strong> {{ form.get_filial_display }}</h3>
            <h3><strong>Placa Carreta: </strong>{% if form.placacarreta %}{{ form.placacarreta }}{% else %}---- {% endif %}| <strong>Km anterior: </strong>{{ form.kmanterior }} | <strong>Km: </strong>{{ form.kmatual }} | <strong>Horimetro: </strong>{{ form.horimetro }}</h3>
        </div>
        <table class="table table1 linha-baixo">
            <tr><th>Uniforme da Empresa</th><th>{{ form.p1_1|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Motorista identificado por crachá</th><th>{{ form.p1_2|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Lanterna do farol dianteiro funcionando?</th><th>{{ form.p2_1|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Farol baixo funcionando?</th><th>{{ form.p2_2|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Farol alto funcionando</th><th>{{ form.p2_3|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Lanterna direita funcionando?</th><th>{{ form.p2_4|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Lanterna esquerda funcionando?</th><th>{{ form.p2_5|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Lanternas traseiras funcionando?</th><th>{{ form.p2_6|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Luz de ré funcionando?</th><th>{{ form.p2_7|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Retrovisores estão em perfeito estado?</th><th>{{ form.p2_8|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Água do radiador está no nível?</th><th>{{ form.p2_9|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Óleo de freio está no nível?</th><th>{{ form.p2_10|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Óleo de motor está no nível?</th><th>{{ form.p2_11|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Bateria em boas condições?</th><th>{{ form.p2_12|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Freio de emergência funcionando?</th><th>{{ form.p2_13|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Alarme sonoro da ré funcionando?</th><th>{{ form.p2_14|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Existe vazamentos de óleo de motor?</th><th>{{ form.p2_15|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Existe vazamentos de ar?</th><th>{{ form.p2_16|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Existe vazamento de óleo hidráulico?</th><th>{{ form.p2_17|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Existe vazamento de água no radiador?</th><th>{{ form.p2_18|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>As mangueiras estão em boas condições?</th><th>{{ form.p2_19|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Lonas de freio em boas condições?</th><th>{{ form.p2_20|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Amortecedor em boas condições?</th><th>{{ form.p2_21|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>A suspensão está em boas condições?</th><th>{{ form.p2_22|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>O carro está limpo e higienizado?</th><th>{{ form.p2_23|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Limpador de parabrisa funcionando?</th><th>{{ form.p2_24|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Parabrisa em boas condições?</th><th>{{ form.p2_25|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Ar condicionado funcionando?</th><th>{{ form.p2_26|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Pintura do cavalo em boas condições?</th><th>{{ form.p2_27|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Extintor em boas condições?</th><th>{{ form.p2_28|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Pneus dianteiros em bom estado?</th><th>{{ form.p2_29|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Pneus tração em bom estado?</th><th>{{ form.p2_30|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Pneus traseiros em bom estado?</th><th>{{ form.p2_31|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Lubrificação está em bom estado?</th><th>{{ form.p2_32|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Alinhamento está em bom estado?</th><th>{{ form.p2_33|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Balanceamento está em bom estado?</th><th>{{ form.p2_34|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Observação cavalo</th><th>{{ form.obs_cavalo }}</th></tr>
            <tr><th>Luzes de advertência das laterais funcionando?</th><th>{{ form.p3_1|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Estepes em bom estado?</th><th>{{ form.p3_2|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Thermoking está em boas condições?</th><th>{{ form.p3_3|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Carroceria, assoalho e baú em boas condições?</th><th>{{ form.p3_4|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Luz de freio funcionando?</th><th>{{ form.p3_5|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Luz de ré funcionando?</th><th>{{ form.p3_6|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Luzes da lanterna traseira direita funciona?</th><th>{{ form.p3_7|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Luzes da lanterna traseira esquerda funciona?</th><th>{{ form.p3_8|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Veículo plotado?</th><th>{{ form.p3_9|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Plotagem em boas condições?</th><th>{{ form.p3_10|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Amortecedores em boas condições?</th><th>{{ form.p3_11|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>A carreta está lavada?</th><th>{{ form.p3_12|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Pneus dianteiros em bom estado?</th><th>{{ form.p3_13|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Pneus tração em bom estado?</th><th>{{ form.p3_14|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Pneus traseiros em bom estado?</th><th>{{ form.p3_15|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Lubrificação em boas condições?</th><th>{{ form.p3_16|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Alinhamento em boas condições?</th><th>{{ form.p3_17|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Balanceamento em boas condições?</th><th>{{ form.p3_18|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Carreta tem divisória?</th><th>{{ form.p3_19|yesno:'SIM,NÃO' }}</th></tr>
            <tr><th>Observação</th><th>{{ form.obs }}</th></tr>
        </table>
        <button><a style="color:white;" href="{% url 'portaria:checklistview' %}">Voltar</a></button>
    </div>
</div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}