{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load groupscheck %}
{% if request.user|has_group:"frota" %}

<style>
    #select-placa {
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        border: solid grey 1px;
      }
      #select-placa select {
        padding: 10px;
        margin: -5px -20px -5px -5px;
      }
</style>
<div class="container mt-5">
    <div class="row">
        <h1 class="title-cad linha-baixo">Disponibilidade Frota</h1>
    </div>
    <!--Pegando valor da filial-->
    <form method="GET">
        <div id="refresh">
            <h2 class="title-cad col-4">Escolha a Filial para Começar</h2>
            <th name="filial" id="filial">{{ form.filial }}</th>
            <button id="click" style="height:3.4rem;">Selecionar</button>
        </div>
    </form>
    <!--Pegando valor da filial-->

    <!--Fazendo reload apenas na DIV-->
    <script>
        $('#click').click(function(){
        var div=$('#refresh').html();
        $.ajax({
            method: 'get',
            dataType: 'json'
        })
        .done(function(data) {
    if(data.success=='ok'){
            $('#refresh').html(div);
    }else{
    // show errors.
    }
        })
        .fail(function() {
            console.log("error");
        })
        .always(function() {
            console.log("complete");
        });
        });
    </script>
    <!--FIM Fazendo reload apenas na DIV-->

    <form id="formulario" role="form" method="POST">
        {% csrf_token %}
        <hr>
        <table>
            <tbody>
                {% if form.filial %}
                <h3><strong>Filial Selecionada: {{ get_filial }}</strong></h3>
                <hr>
                    <tr>
                        <!--INÍCIO Placa dos veículos-->
                        <h3 name="escolha_placa"><strong>Escolha a Placa:</strong></h3>
                        <select id="select-placa" name="placa">
                            {% for placa in lista_certa %}
                                <option value="{{ placa }}">{{ placa }}</option>
                            {% endfor %}
                        </select>
                        <!--FIM Placa dos veículos-->
                    </tr>
                    <tr>
                        <th>Status Veículo: </th><th>{{ form.status }}</th>
                    </tr>
                    <tr>
                        <th>Observação</th><th>{{ form.observacao }}</th>
                    </tr>
                    <tr>
                        <th>OS</th><th>{{ form.ordem_servico }}</th>
                    </tr>
                    <tr>
                        <th>Data Início</th><th>{{ form.data_inicio }}</th>
                    </tr>
                    <tr>
                        <th>Data Previsão</th><th>{{ form.data_previsao }}</th>
                    </tr>
                    <tr>
                        <th>Data Finalização</th><th>{{ form.data_finalizacao }}</th>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <button type="submit" style="height:3.8rem;"><ion-icon style="font-size:2.8rem;" name="save-outline"></ion-icon></button>
    </form>
</div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}