{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load groupscheck %}
{% if request.user|has_group:"frota" %}

<style>
  .none {
    color: white;
    width: 0;
    padding: 0;
    margin: 0;
    height:0;
    border: 0;
  }
  input {
    color: black;
    background-color: rgba(211,211,211,0.3);
  }
  th, td {
    border-bottom: 1px solid #ddd;
  }
  table {
    width: 100vw;

  }
  th {
    width: 25vw;
    text-align: center
  }
  td {
    text-align: center
  }
  .input-modal {
    margin-top: 15px;
  }

  @media (max-width: 800px)
  {
    .obrigatorio {
      margin-top: 35px;
    }
    .w3-modal {
      padding: 5vh 8vw 0 0;
    }
    .input-modal {
      margin: 0 0 2vh 0;
      display: flex;
      flex-direction: column;
    }
    .button-model {
      margin-bottom: 2vh
    }
  }

    #select-placa {
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        border: solid grey 1px;
      }
      #select-placa select {
        padding: 10px;
        margin: -5px -20px -5px -5px;
      }
      #filiais {
        width: 15rem;
      }
      .vermelho {
        background-color: red;
      }
      .verde {
        background-color: green;
      }
      .amarelo {
        background-color: yellow;
      }
      .button {
        border: none;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.7;
      }
</style>
<div class="container mt-5">
  {% for message in messages %}
  <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          {{ message }}
      </div>
  </div>
  {% endfor %}
    <div class="row">
        <h1 class="title-cad linha-baixo">Disponibilidade Frota</h1>
    </div>
    <!--Pegando valor da filial-->
    <form method="GET">
      <div id="refresh">
          <h3 class="title-cad">Escolha a Filial para Começar</h3>
          <select id="filiais" name="filiais">
            <option selected disabled value="">--</option>
            {% for filial in filiais %}
              <option value="{{ filial }}">{{ filial }}</option>
            {% endfor %}                
          </select>
          <button id="click" style="height:3.4rem;">Selecionar</button>
      </div>
  </form>
    <form id="formulario" role="form" method="POST">
        {% csrf_token %}
        <hr>
            {% if filial %}
            <div class="row" style="margin: 0 0.5rem">
                  <table>
                    <thead>
                      <tr>
                        <th>Placa Veículo</th>
                        <th>Tipo Veiculo</th>
                        <th>Parado</th>
                        <th>Preventivo</th>
                        <th>Liberado</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for veiculo in veiculos %}
                      {% if not veiculo.prefixoveic in placas_movimentos%}
                      <tr>
                        <td>{{ veiculo.prefixoveic }}</td>
                        <td>{{ veiculo.codigotpveic }}</td>
                        <td>
                          {% if not veiculo in bloqueio_vermelho %}
                          <button class="button vermelho" id="botao_vermelho" name="botao_vermelho" type="reset"
                          onclick="
                            document.getElementById('id1').style.display='block';
                            document.getElementById('vermelho').value = {{veiculo.codigoveic}};
                            "></button>
                          {% endif %}
                        </td>
                        <td>
                          {% if not veiculo in bloqueio_amarelo %}
                          <button class="button amarelo" id="botao_amarelo" name="botao_amarelo" type="reset" 
                          onclick="
                          document.getElementById('id2').style.display='block';
                          document.getElementById('amarelo').value = {{veiculo.codigoveic}};
                          "></button>
                          {% endif %}
                        </td>
                        <td>
                          <button class="button verde" id="verde" name="verde" type="submit" value="{{veiculo.codigoveic}}"
                          onclick="
                            document.getElementById('formulario').reset();
                            "></button>
                        </td>
                      </tr>
                      {% endif%}
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
            {% endif %}
    </form>
</div>

<div id="id1" class="w3-modal">
  <div class="w3-modal-content" style="width: 80vw; margin: 0 10vw;">
    <div class="w3-container">
      <span onclick="
      document.getElementById('id1').style.display='none';
      document.getElementById('formulario2').reset();" class="w3-button w3-display-topright">&times;</span>
      <h3 class="obrigatorio">Formulário Obrigatório</h3>
      <form id="formulario2" role="form" method="POST">
        {% csrf_token %}
        <input class="none" type="text" id="vermelho" name="vermelho" value=""/>
        <br/>
        <div class="input-modal">
          <label for="observacao">Observação:</label>
          <input type="text" name="observacao" id="observacao" onfocus="this.value=''" required>
        </div>
        <div class="input-modal">
          <label for="ordem_servico">Ordem de Serviço:</label>
          <input type="number" name="ordem_servico" id="ordem_servico" onfocus="this.value=''" required>
        </div>
        <div class="input-modal">
          <label for="data_liberacao">Data Liberação:</label>
          <input type="date" min="{{hoje}}" value="{{hoje}}" name="data_liberacao" id="data_liberacao" onfocus="this.value=''" required>
        </div>
        <div class="button-modal" style="display:flex;flex-direction:row-reverse;">
          <button type="submit" onclick="
            document.getElementById('id1').style.display='none';
          ">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="id2" class="w3-modal">
  <div class="w3-modal-content" style="width: 80vw; margin: 0 10vw;">
    <div class="w3-container" style="padding: 20px;">
      <span onclick="
      document.getElementById('id2').style.display='none'
      document.getElementById('formulario3').reset();" class="w3-button w3-display-topright">&times;</span>
      <h3>Formulário Obrigatório</h3>
      <form id="formulario3" role="form" method="POST">
        {% csrf_token %}
        <input class="none" type="text" id="amarelo" name="amarelo" value="{{veiculo.codigoveic}}"/>
        <div class="input-modal">
          <label for="observacao">Observação:</label>
          <input type="text" name="observacao" id="observacao" onfocus="this.value=''" required>
        </div>
        <div class="input-modal">
          <label for="ordem_servico">Ordem de Serviço:</label>
          <input type="number" name="ordem_servico" id="ordem_servico" onfocus="this.value=''" required>
        </div>
        <div class="input-modal">
          <label for="data_previsao">Data Previsão:</label>
          <input type="date" min="{{hoje}}" value="{{hoje}}" name="data_previsao" id="data_previsao" required>
        </div>
        <div style="display:flex;flex-direction:row-reverse;">
          <button type="submit" onclick="
          document.getElementById('id2').style.display='none';
          ">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}

    <!--Fazendo reload apenas na DIV-->
    <script>
      $('#click').click(function(){
        alert("adnawdn")
        var div=$('#refresh').html();
        $.ajax({
          method: 'get',
          dataType: 'json'
        })
        .done(function(data) {
          if(data.success=='ok'){
            $('#refresh').html(div);
          }else{
            // show errors.
          }
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {
          console.log("complete");
        });
      });
      
    </script>
    <!--FIM Fazendo reload apenas na DIV-->