{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load groupscheck %}
{% if request.user|has_group:"frota" %}
    <div class="container">
        {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        <div class="row linha-baixo">
            <h2 class="title-cad">OS: {{ get_os.id }}</h2>
        </div>
        <div class="row printing">
            <form method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Data de saída:</td><td><input autocomplete="off" type="date" name="dtsaida"></td>
                    </tr>
                    <tr><td><hr></td><td><hr></td></tr>
                    {% for q in svsss %}
                    <tr><td>{{ q.id_svs.tipo_servico }}<input type="hidden" name="idsvs" value="{{ q.id }}"></td></tr>
                    <tr>
                        <td>Tipo mão de obra:</td>
                        <td>
                            <select name="localmanu">
                                <option value="I">INTERNO</option>
                                <option value="E">EXTERNO</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Valor mão de obra:</td><td><input type="text" name="vlmao"></td>
                    </tr>
                    <tr>
                        <td>Valor peça:</td><td><input type="text" name="vlpeca"></td>
                    </tr>
                    <tr>
                        <td>Produto:</td><td><input type="text" name="produto"></td>
                    </tr>
                    <tr>
                        <td>Fornecedor:</td><td><input type="text" name="fornecedor"></td>
                    </tr>
                    <tr>
                        <td>Feito:</td><td><select name="feitochk">
                            <option value="1">Sim</option>
                            <option value="0">Nao</option>
                        </select></td>
                    </tr>
                    <tr><td><hr></td><td><hr></td></tr>
                    {% endfor %}
                </table>
            <input type="submit" class="button">
            </form>
        </div>
    </div>

{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}