{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load groupscheck %}
{% if request.user|has_group:"frota" %}
<style>
    .PREVENTIVA{
        background-color:#FF7F50;
    }
    .CORRETIVA{
        background-color:#FFFACD;
    }
    .PRE{
        background-color: #b7dd74;
    }
</style>
    <div class="container mt-4">
        {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-3">
                <form method="get">
                <h2 class="title-cad">Filtrar:<input style="width:10rem;" placeholder="OS ou placa."  type="text" name="isplaca"><input type="submit" class="button"></h2>
                </form>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="container col-6 card" style="width:auto;background:#e8eef5;border:solid 3px;border-radius:10px;">
                        <div class="card-body" style="text-align:center;">
                            <h3 class="card-title"> &nbsp; <strong>Preventiva</strong> &nbsp; </h3>
                            <p class="card-text">{{ metrics.prev|default_if_none:'0' }}</p>
                        </div>
                    </div>
                    <div class="container col-6 card" style="width:auto;background:#e8eef5;border:solid 3px;border-radius:10px;">
                        <div class="card-body" style="text-align:center;">
                            <h3 class="card-title"> &nbsp; <strong>Corretiva</strong> &nbsp; </h3>
                            <p class="card-text">{{ metrics.corr|default_if_none:'0' }}</p>
                        </div>
                    </div>
                    <div class="container col-6 card" style="width:auto;background:#e8eef5;border:solid 3px;border-radius:10px;">
                        <div class="card-body" style="text-align:center;">
                            <h3 class="card-title"> &nbsp; <strong>Concluido</strong> &nbsp; </h3>
                            <p class="card-text">{{ metrics.conc|default_if_none:'0' }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <a style="text-decoration:none;color:white;" href="{% url 'portaria:manupendentes' %}"><button type="button">Lista pendentes</button></a>
            </div>
        </div>
        <hr>
        <div class="row">
        <table class="table table1">
            <thead>
            <tr>
                <td>OS</td>
                <td>PLACA</td>
                <td>TIPO</td>
                <td>SERVICO</td>
                <td>ENTRADA</td>
                <td>PREVISAO</td>
                <td>STATUS</td>
            </tr>
            </thead>
            <tbody>
            {% for c in lista %}
            <tr class="{{ c.tp_manutencao }}">
                <th>{{ c.id }}</th>
                <th>{{ c.veiculo }}</th>
                <th>{{ c.tp_manutencao }}</th>
                <th style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{% for i in form %}{% if i.id_os_id == c.id %}
                    {{ i.id_svs.grupo_servico }} - {{ i.id_svs.tipo_servico }} ||
                    {% endif %}{% endfor %}</th>
                <th>{{ c.dt_entrada|date:'d/m/Y' }}</th>
                <th>{{ c.prev_entrega|date:'d/m/Y' }}</th>
                {% now 'd/m/Y' as hoje %}
                <th>{% if c.prev_entrega|date:'d/m/Y' >= hoje %}NORMAL{% elif not c.prev_entrega %}-{% elif c.prev_entrega|date:'d/m/Y' < hoje %}ATRASADO{% endif %}</th>
                <th>{% if c.tp_manutencao != 'PRE' %}
                    <a style="text-decoration:none;font-size:20px;" href="{% url 'portaria:manutencaoprint' c.id %}">
                        <ion-icon name="print"></ion-icon></a> |
                    <a style="text-decoration:none;font-size:20px;" href="{% url 'portaria:manusaida' c.id %}">
                        <ion-icon name="exit-outline"></ion-icon></a> |
                    <a style="text-decoration:none;font-size:20px;" href="{% url 'portaria:addservico' osid=c.id %}">
                        <ion-icon name="add-circle-outline">
                    </ion-icon></a>
                    {% else %}
                        <a href="{% url 'portaria:updatemanu' osid=c.id %}"><button type="button">
                            Atualizar
                        </button></a>
                    {% endif %}
                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    </div>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
{% endblock %}