    {% extends 'base.html' %}
    {% block content %}
    {% load groupscheck %}
    <div class="container mt-5">
    {% if auth_message %}
        <p><strong>{{ auth_message }}</strong></p>
    {% else %}
    {% if request.user|has_group:"chamado" %}
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        <div class="row">
                <h2 class="title-cad col-3">Suporte Chamados</h2>
        </div><hr>
        <section class="container createtkt">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <h2 class="title-cad col-3">Novo Chamado</h2>
                </div>
                <div class="row">
                    <div class="container col-4 createboxes">
                        <div class="row">
                            <label for="assunto">Assunto</label>
                            <input style="width: 30rem;" type="text" name="assunto" id="assunto">
                        </div>
                        <div class="row">
                            <label for="solicitante">Solicitante</label>
                            <input style="width: 30rem;" type="text" name="solicitante" id="solicitante">
                        </div>
                        <div class="row">
                        <label for="responsavel">Responsável</label>
                        <select id="responsavel" name="responsavel" style="width: 30rem;">
                            <option selected disabled>Selecione...</option>
                            {% for q in resp %}
                            <option value="{{ q.id }}">{{ q }}</option>
                            {% endfor %}
                        </select>
                        </div>
                        <div class="row">
                        <label for="departamento">Departamento</label>
                        <select style="width: 30rem;" name="departamento" id="departamento">
                            <option selected disabled>Selecione...</option>
                            {% for q,v in dp %}
                            <option value="{{ q }}">{{ v }}</option>
                            {% endfor %}
                        </select>
                        </div>
                        <div class="row">
                        <label for="status">Status</label>
                        <select style="width: 30rem;" id="status" name="status">
                            <option value="ABERTO">ABERTO</option>
                        </select>
                        </div>
                        <div class="row">
                        <label for="filial">Filial</label>
                        <select style="width: 30rem;" name="filial" id="filial">
                            <option selected disabled>Selecione...</option>
                            {% for q,v in fil %}
                            <option value="{{ q }}">{{ v }}</option>
                            {% endfor %}
                        </select>
                        </div>
                        <div class="row">
                        <label for="servico">Servico</label>
                        <select style="width: 30rem;" name="svs" id="servico">
                            <option selected disabled>Selecione...</option>
                            {% for q,v in svs %}
                            <option value="{{ q }}">{{ v }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="container col-8 createboxes">
                        {{ editor.area|safe }}
                        <center>
                            <button class="button" type="submit">Criar</button>
                        </center>
                    </div>
                </div>
            </form>
        </section>
    {% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
    </div>
    {% endif %}
    {% endblock %}