    {% extends 'base.html' %}
    {% block content %}
    {% load groupscheck %}
    <div class="container mt-5">
    {% if auth_message %}
        <p><strong>{{ auth_message }}</strong></p>
    {% else %}
    {% if request.user|has_group:"chamado" %}
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        <section class="container createtkt">
            <div class="row">
                <h2 class="title-cad col-3">Suporte Chamados</h2>
            </div><hr>
            <div class="row">
                <div class="col-3">
                    <!--<div class="container createboxes">
                        <label for="botao1">Novo Chamado</label>
                        <a id="botao1" href="{% url 'portaria:chamadonovo' %}"><button style="width:10rem;">Acessar</button></a>
                    </div>-->

                    <div class="container createboxes">
                        <label for="botao2">Painel Chamados</label>
                        <a id="botao2" href="{% url 'portaria:chamadopainel' %}"><button style="width:10rem;">Acessar</button></a>
                    </div>
                    <div class="container createboxes">
                        <label for="botao3">Painel Concluídos</label>
                        <a id="botao3" href="{% url 'portaria:chamadoconcluido' %}"><button style="width:10rem;">Acessar</button></a>
                    </div>
                </div>
                <div class="col-9 createboxes">
                    <h2 class="title-cad">Metricas</h2>
                    <hr>
                    <div class="row">
                        <div class="container col-4 card" style="width:auto;background:#e8eef5;border:solid 3px;border-radius:10px;">
                                <div class="card-body" style="text-align:center;">
                                    <h3 class="card-title">Praxio</h3>
                                    <p class="card-text">{{ metrics.praxio1|default_if_none:'0' }}</p>
                                </div>
                        </div>
                        <div class="container col-4 card" style="width:auto;background:#e8eef5;border:solid 3px;border-radius:10px;">
                                <div class="card-body" style="text-align:center;">
                                    <h3 class="card-title">Fiscal</h3>
                                    <p class="card-text">{{ metrics.fis1|default_if_none:'0' }}</p>
                                </div>
                        </div>
                        <div class="container col-4 card" style="width:auto;background:#e8eef5;border:solid 3px;border-radius:10px;">
                                <div class="card-body" style="text-align:center;">
                                    <h3 class="card-title">Descarga</h3>
                                    <p class="card-text">{{ metrics.des1|default_if_none:'0' }}</p>
                                </div>
                        </div>
                        <div class="container col-4 card" style="width:auto;background:#e8eef5;border:solid 3px;border-radius:10px;">
                                <div class="card-body" style="text-align:center;">
                                    <h3 class="card-title">Comprovante</h3>
                                    <p class="card-text">{{ metrics.comp1|default_if_none:'0' }}</p>
                                </div>
                        </div>
                    </div><hr>
                    <div class="row">
                        <div class="container col-4 card" style="width:auto;background:#e8eef5;border:solid 3px;border-radius:10px;">
                                <div class="card-body" style="text-align:center;">
                                    <h3 class="card-title">Aberto hoje</h3>
                                    <p class="card-text">{{ metrics.hoje1|default_if_none:'0' }}</p>
                                </div>
                        </div>
                        <div class="container col-4 card" style="width:auto;background:#e8eef5;border:solid 3px;border-radius:10px;">
                                <div class="card-body" style="text-align:center;">
                                    <h3 class="card-title">Andamento</h3>
                                    <p class="card-text">{{ metrics.andamento1|default_if_none:'0' }}</p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    {% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
    </div>
    {% endif %}
    {% endblock %}