{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row linha-baixo">
        <h2 class="title-cad col-6">Cards funcionários</h2>
        <form class="col-4" method="get">
        <input class="" type="text" name="srcfunc" placeholder="filtro funcionario">
        <input class="button" style="margin-top:0px;" type="submit">
        </form>
    </div>
    <div class="row mt-4">

    </div>
    <div class="row">
        <div class="col-6">
        {% for q in form %}
        <table class="table1 table">
            <tr><th><h3 class="title-cad">{{ q }}</h3></th>
                <th><button class="button" style="margin-top:0px;height:3.4rem;">
                    <a style="color:white; font-size:2.4rem;" href="{% url 'portaria:card' q.id %}">
                        <ion-icon name="id-card"></ion-icon>
                    </a>
                </button></th></tr>
        </table>
        {% endfor %}
        </div>
    </div>
</div>


{% endblock %}