    {% extends 'base.html' %}
    {% block content %}
    {% load groupscheck %}
    <div class="container mt-5">
    {% if auth_message %}
        <p><strong>{{ auth_message }}</strong></p>
    {% else %}
    {% if request.user|has_group:"estoque" %}
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        <section class="container">
            <div class="row">
                <h2 class="title-cad col-3">Confirmar solicitações</h2>
                <div class="col"></div>
                <div class="col-3">
                    <form method="get">
                        <input style="margin:auto;" type="text" id="buscaitem" name="buscaitem">
                        <button type="submit" style="font-size:1.8rem;margin:auto;">
                        <ion-icon name="search-circle-outline"></ion-icon></button>
                    </form>
                </div>
            </div><hr>
            <div class="row">
                <table class="table1 table">
                    <thead>
                        <tr>
                            <th scope="col" style="width:10%;">ID</th>
                            <th scope="col">Descrição</th>
                            <th scope="col" style="width:10%;">Filial</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Tamanho</th>
                            <th scope="col">Data Envio</th>
                            <th scope="col">Confirmar</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for q in form %}
                        <tr class="tabletkt">
                            <th>{{ q.id }}</th>
                            <th>{{ q.item }}</th>
                            <th>{{ q.get_filial_display }}</th>
                            <th>{{ q.quant_solic }}</th>
                            <th>{{ q.item.tamanho }}</th>
                            <th>{{ q.data_envio }}</th>
                            <th><form method="post">{% csrf_token %}
                                <input type="hidden" name="objid" value="{{ q.id }}">
                                <button type="submit">
                                <ion-icon name="checkmark-done-circle-outline"></ion-icon></ion-icon></button>
                            </form></th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </section>
    {% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
    </div>
    {% endif %}
    <script>
    $(document).ready(function(){
        $("button").click(function(){
            var btn = $(this);
            var but = $(this).val();
            var modal = document.getElementById("myModal"+but);
            var span = modal.getElementsByClassName("close")[0];
            modal.style.display = "block";

            span.onclick = function() {
                modal.style.display = "none";
            };
            window.onclick = function(event) {
                if (event.target == modal){
                    modal.style.display = "none";
                }
            };
        });
    });
    </script>
    <script>
    $(function(){
        var availableTags = [
            {% for q in autocomplete %}
                "{{ q.desc }}",
            {% endfor %}
        ];
        $('#buscaitem').autocomplete({source: availableTags});
    });
    </script>
    {% endblock %}