    {% extends 'base.html' %}
    {% block content %}
    {% load groupscheck %}
    <div class="container mt-5">
    {% if auth_message %}
        <p><strong>{{ auth_message }}</strong></p>
    {% else %}
    {% if request.user|has_group:"estoque" %}
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        <section class="container createtkt">
            <div class="row">
                <h2 class="title-cad col-3">Controle de Estoque</h2>
            </div><hr>
            <div class="row">
                <div class="col-4">
                    <div class="container createboxes">
                        <label for="botao2">Nova solicitação</label>
                        <a id="botao2" href="{% url 'portaria:estoque_nova_solic' %}"><button style="width:10rem;">Acessar</button></a>
                    </div>
                    <div class="container createboxes">
                        <label for="botao3">Painel de Solicitações</label>
                        <a id="botao3" href="{% url 'portaria:estoque_painel' %}"><button style="width:10rem;">Acessar</button></a>
                    </div>
                </div>
                <div class="col-8 createboxes">
                    <h2 class="title-cad">Metricas</h2>
                    <hr>
                    <div class="row">
                        <div class="container col-4 card" style="width:auto;background:#e8eef5;border:solid 3px;border-radius:10px;">
                                <div class="card-body" style="text-align:center;">
                                    <h3 class="card-title">Em aberto</h3>
                                    <p class="card-text">{{ metrics.aberto1|default_if_none:'0' }}</p>
                                </div>
                        </div>
                        <div class="container col-4 card" style="width:auto;background:#e8eef5;border:solid 3px;border-radius:10px;">
                                <div class="card-body" style="text-align:center;">
                                    <h3 class="card-title">Aguardando confirmação</h3>
                                    <p class="card-text">{{ metrics.ag_conf1|default_if_none:'0' }}</p>
                                </div>
                        </div>
                        <div class="container col-4 card" style="width:auto;background:#e8eef5;border:solid 3px;border-radius:10px;">
                                <div class="card-body" style="text-align:center;">
                                    <h3 class="card-title">Concluído</h3>
                                    <p class="card-text">{{ metrics.concluido1|default_if_none:'0' }}</p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    {% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
    </div>
    {% endif %}
    {% endblock %}