    {% extends 'base.html' %}
    {% block content %}
    {% load groupscheck %}
    <div class="container mt-5">
    {% if auth_message %}
        <p><strong>{{ auth_message }}</strong></p>
    {% else %}
    {% if request.user|has_group:"estoque" %}
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        <section class="container">
            <div class="row">
                <h2 class="title-cad col-3">Controle de Estoque</h2>
                <div class="col" style="text-align:center;">
                    {% if request.user|has_group:"estoque_main" %}
                    <label for="createitem">Cadastrar Grupo</label>
                    <a href="{% url 'portaria:estoque_caditem' %}">
                        <button id="createitem"><ion-icon name="add-circle-outline"></ion-icon></button></a>
                    {% endif %}
                </div>
                <div class="col-3">
                    <form method="get">
                        <input style="margin:auto;" type="text" id="buscaitem" name="buscaitem">
                        <button type="submit" style="font-size:1.8rem;margin:auto;">
                        <ion-icon name="search-circle-outline"></ion-icon></button>
                    </form>
                </div>
            </div><hr>
            <div class="row">
                <table class="table1 table">
                    <thead>
                        <tr>
                            <th scope="col" style="width:10%;">ID</th>
                            <th scope="col">Descrição</th>
                            <th scope="col" style="width:10%;">Quantidade</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Tamanho</th>
                            {% if request.user|has_group:"estoque_main" %}
                            <th scope="col">Editar</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for q in form %}
                        <tr class="tabletkt">
                            <th>{{ q.id }}</th>
                            <th>{{ q.desc }}</th>
                            <th>{{ q.quantidade }}</th>
                            <th>{{ q.tipo }}</th>
                            <th>{{ q.tamanho }}</th>
                            {% if request.user|has_group:"estoque_main" %}
                            <th><button id="myBtn" type="button" value="{{ forloop.counter }}">
                                <ion-icon name="create-outline"></ion-icon></button></th>
                            {% endif %}
                        </tr>
                        <div id="myModal{{ forloop.counter }}" class="modal">
                            <div class="modal-content">
                                <div>
                                    <span class="title-cad">Editar quantidade</span>
                                    <span class="close col">&times;</span>
                                </div><hr>
                                <form action="" id="formdata-id" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <ul style="list-style:none;">
                                            <input name="obj" value="{{ q.id }}" hidden>
                                            <li><strong>Descrição:</strong> {{ q }}</li>
                                            <li><strong>Tipo:</strong> {{ q.tipo }}</li>
                                            <li><strong>Tamanho:</strong> {{ q.tamanho }}</li>
                                            <li><strong>Quantidade:</strong>
                                                <input name="quantidade" id="quantidade" maxlength="5"></li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <center><button id="submiter" type="submit">Confirmar</button></center>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </section>
    {% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
    </div>
    {% endif %}
    <script>
    $(document).ready(function(){
        $("button").click(function(){
            var btn = $(this);
            var but = $(this).val();
            var modal = document.getElementById("myModal"+but);
            var span = modal.getElementsByClassName("close")[0];
            modal.style.display = "block";

            span.onclick = function() {
                modal.style.display = "none";
            };
            window.onclick = function(event) {
                if (event.target == modal){
                    modal.style.display = "none";
                }
            };
        });
    });
    </script>
    <script>
    $(function(){
        var availableTags = [
            {% for q in autocomplete %}
                "{{ q.desc }} {{ q.tamanho }}",
            {% endfor %}
        ];
        $('#buscaitem').autocomplete({source: availableTags});
    });
    </script>
    {% endblock %}