    {% extends 'base.html' %}
    {% block content %}
    {% load groupscheck %}
    <div class="container mt-5">
    {% if auth_message %}
        <p><strong>{{ auth_message }}</strong></p>
    {% else %}
    {% if request.user|has_group:"estoque" %}
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        <section class="container createtkt">
            <div class="row">
                <h2 class="title-cad col-3">Solicitação de Estoque</h2>
            </div><hr>
            <div class="row">
                <ul style="margin-left:5rem;">
                    <li>item 1: <input type="text"></li>
                    <li>item 2: <input type="text"></li>
                    <li>item 3: <input type="text"></li>
                    <li>item 4: <input type="text"></li>
                    <li>item 5: <input type="text"></li>
                    <li>item 6: <input type="text"></li>
                </ul>
            </div>
        </section>
    {% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
    </div>
    {% endif %}
    {% endblock %}