{% extends 'base.html' %}
{% block content %}
{% load groupscheck %}
<div class="container mt-5">
{% if auth_message %}
    <p><strong>{{ auth_message }}</strong></p>
{% else %}
{% if request.user|has_group:"estoque" %}
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
            </div>
        </div>
        {% endfor %}
    <section class="container createtkt">
        <div class="row">
            <h2 class="title-cad col-3">Solicitação de Estoque</h2>
        </div><hr>
        <div class="row">
            <form method="post">{% csrf_token %}
            <ul style="margin-left:5rem;list-style:none;">
                <li>Item: <input type="text" id="buscaitem" name="buscaitem" onchange="get_tamanho()"></li>
                <li>Quantidade: <input type="text" name="quant"></li>
                <li>Tamanho: <input type="text" name="tamanho"></li>
                <li>Filial: <select name="filial">
                    <option selected disabled>Selecione...</option>
                    {% for k,v in filial %}
                    <option value="{{ k }}">{{ v }}</option>
                    {% endfor %}
                </select></li>
                <li><button>Enviar</button></li>
            </ul>
            </form>
        </div>
    </section>
{% else %}<p>Usuário não tem permissão para acessar</p>{% endif %}
</div>
{% endif %}
<script>
    $(function(){
        var availableTags = [
            {% for q in autocomplete %}
                "{{ q.desc }}",
            {% endfor %}
        ];
        $('#buscaitem').autocomplete({source: availableTags});
    });
    function get_tamanho(){
        d = document.getElementById('buscaitem').value
        console.log(d)
    }
</script>
{% endblock %}